---
title: gp_configuration_history
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `gp_configuration_history` table contains information about system changes related to fault detection and recovery operations. The HAWQ [fault tolerance service](../../admin/FaultTolerance.html) logs data to this table, as do certain related management utilities such as `hawq init`. For example, when you add a new segment to the system, records for these events are logged to `gp_configuration_history`. If a segment is marked as down by the fault tolerance service in the [gp\_segment\_configuration](gp_segment_configuration.html) catalog table, then the reason for being marked as down is recorded in this table.

The event descriptions stored in this table may be helpful for troubleshooting serious system issues in collaboration with HAWQ support technicians.

This table is populated only on the master. This table is defined in the `pg_global` tablespace, meaning it is globally shared across all databases in the system.

<a id="topic1__ev138428"></a>
<span class="tablecap">Table 1. pg\_catalog.gp\_configuration\_history</span>

| column              | type                     | references | description                                                                      |
|---------------------|--------------------------|------------|----------------------------------------------------------------------------------|
| `time`              | timestamp with time zone |            | Timestamp for the event recorded.                                                |
| `desc`              | text                     |            | Text description of the event.                                                   |
| registration\_order | integer                  |            | The registration order of a segment. May be changed after restarting the master. |
| hostname            | text                     |            | The hostname of a segment                                                        |




