---
title: gp_distribution_policy
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `gp_distribution_policy` table contains information about HAWQ tables and their policy for distributing table data across the segments. This table is populated only on the master. This table is not globally shared, meaning each database has its own copy of this table.

<a id="topic1__ey142842"></a>
<span class="tablecap">Table 1. pg\_catalog.gp\_distribution\_policy</span>

| column      | type         | references           | description                                                                                                                                                                                                   |
|-------------|--------------|----------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `localoid`  | oid          | pg\_class.oid        | The table object identifier (OID).                                                                                                                                                                            |
| `attrnums`  | smallint\[\] | pg\_attribute.attnum | The column number(s) of the distribution column(s).                                                                                                                                                           |
| `bucketnum` | integer      |                      | Number of hash buckets used in creating a hash-distributed table or for external table intermediate processing. The number of buckets also affects how many virtual segment are created when processing data. |




