---
title: gp_segment_configuration
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `gp_segment_configuration` table contains information about master, standby and segment configuration.

The HAWQ fault tolerance service (FTS) automatically detects the status of individual segments and marks the status of each segment in this table. If a segment is marked as DOWN, the corresponding reason is recorded in the [gp\_configuration\_history](gp_configuration_history.html) table. See [Understanding the Fault Tolerance Service](../../admin/FaultTolerance.html) for a description of the fault tolerance service.

<a id="topic1__fr163962"></a>
<span class="tablecap">Table 1. pg\_catalog.gp\_segment\_configuration</span>

| column               | type    | references | description                                                                                                                                                                                                                                                                                  |
|----------------------|---------|------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `registration_order` | integer |            | When HAWQ starts, the master and each segment starts itself separately. This column indicates the order in which a segment node registers itself to master node. The `registration_order` for segments starts from 1. Master's registration\_order is 0. Standby's registration\_order is -1. |
| `role`               | char    |            | The role that a node is currently running as. Values are `p` (segment), `m`(master) or `s               `(standby).                                                                                                                                                                          |
| `status`             | char    |            | The fault status of a segment. Values are `u` (up) or `d` (down).                                                                                                                                                                                                                            |
| `port`               | integer |            | The TCP port the database server listener process is using.                                                                                                                                                                                                                                  |
| `hostname`           | text    |            | The hostname of a segment host.                                                                                                                                                                                                                                                              |
| `address`            | text    |            | The hostname used to access a particular segment on a segment host.                                                                                  |
| `failed_tmpdir_num`  | integer |            | The number of failed temporary directories on the segment. User- configured temporary directories may fail on segments due to disk errors. This information is reported to the master.                                                                                                       |
| `failed_tmpdir`      | text    |            | A list of failed temporary directories on the segment. Multiple failed temporary directories are separated by commas.                                                                                                                                                                        |




