---
title: pg_appendonly
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_appendonly` table contains information about the storage options and other characteristics of append-only tables.

<a id="topic1__fy138428"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_appendonly</span>

| column          | type     | references | description                                                                                                                                        |
|-----------------|----------|------------|----------------------------------------------------------------------------------------------------------------------------------------------------|
| `relid`         | oid      |            | The table object identifier (OID) of the compressed table.                                                                                         |
| `compresslevel` | smallint |            | The compression level, with increasing compression ratio. If the `gzip` or `zlib` compression type is specified, valid values are 1-9.                           |
| `majorversion`  | smallint |            | The major version number of the `pg_appendonly` table.                                                                                              |
| `minorversion`  | smallint |            | The minor version number of the `pg_appendonly` table.                                                                                              |
| `checksum`      | boolean  |            | A checksum value that is stored to compare the state of a block of data at compression time and at scan time to ensure data integrity.             |
| `compresstype`  | text     |            | Type of compression used on append-only and parquet tables. `zlib`, `snappy`, and `gzip` compression types are supported. |
| `columnstore`   | boolean  |            | `0` for row-oriented storage.                                                                                                                      |
| `segrelid`      | oid      |            | Table on-disk segment file id.                                                                                                                     |
| `segidxid`      | oid      |            | Index on-disk segment file id.                                                                                                                     |
| `blkdirrelid`   | oid      |            | Block used for on-disk column-oriented table file.                                                                                                 |
| `blkdiridxid`   | oid      |            | Block used for on-disk column-oriented index file.                                                                                                 |
| `version`       | integer  |            | Version of MemTuples and block layout for this table.                                                                                              |
| `pagesize`      | integer  |            | The max page size of this relation. Only valid for Parquet tables; otherwise, the value is 0.                                                      |
| `splitsize`     | integer  |            | Size of a split. Default value is 64M, which is controlled by server configuration parameter `appendonly_split_write_size_mb`.                     |




