---
title: pg_auth_members
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_auth_members` system catalog table shows the membership relations between roles. Any non-circular set of relationships is allowed. Because roles are system-wide, `pg_auth_members` is shared across all databases of a HAWQ system.

<a id="topic1__gc143898"></a>
 <span class="tablecap">Table 1. pg\_catalog.pg\_auth\_members</span>

| column         | type    | references     | description                                        |
|----------------|---------|----------------|----------------------------------------------------|
| `roleid`       | oid     | pg\_authid.oid | ID of the parent-level (group) role                |
| `member`       | oid     | pg\_authid.oid | ID of a member role                                |
| `grantor`      | oid     | pg\_authid.oid | ID of the role that granted this membership        |
| `admin_option` | boolean |                | True if role member may grant membership to others |




