---
title: pg_amproc
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_amproc` table stores information about support procedures associated with index access method operator classes. There is one row for each support procedure belonging to an operator class.

<a id="topic1__fx143898"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_amproc</span>

| column          | type    | references      | description                                |
|-----------------|---------|-----------------|--------------------------------------------|
| `amopclaid`     | oid     | pg\_opclass.oid | The index operator class this entry is for |
| `amprocsubtype` | oid     | pg\_type.oid    | Subtype, if cross-type routine, else zero  |
| `amprocnum`     | int2    |                 | Support procedure number                   |
| `amproc`        | regproc | pg\_proc.oid    | OID of the procedure                       |




