---
title: pg_exttable
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_exttable` system catalog table is used to track external tables and web tables created by the `CREATE EXTERNAL TABLE` command.

<a id="topic1__gn143898"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_exttable</span>

| column            | type     | references    | description                                                                                                      |
|-------------------|----------|---------------|------------------------------------------------------------------------------------------------------------------|
| `reloid`          | oid      | pg\_class.oid | The OID of this external table.                                                                                  |
| `location`        | text\[\] |               | The URI location(s) of the external table files.                                                                 |
| `fmttype`         | char     |               | Format of the external table files: `t` for text, or `c` for csv.                                                |
| `fmtopts`         | text     |               | Formatting options of the external table files, such as the field delimiter, null string, escape character, etc. |
| `command`         | text     |               | The OS command to execute when the external table is accessed.                                                   |
| `rejectlimit`     | integer  |               | The per segment reject limit for rows with errors, after which the load will fail.                               |
| `rejectlimittype` | char     |               | Type of reject limit threshold: `r` for number of rows.                                                          |
| `fmterrtbl`       | oid      | pg\_class.oid | The object id of the error table where format errors will be logged.                                             |
| `encoding`        | text     |               | The client encoding.                                                                                             |
| `writable`        | boolean  |               | `0` for readable external tables, `1` for writable external tables.                                              |


