---
title: pg_filespace_entry
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

A tablespace requires a file system location to store its database files. In HAWQ, the master and each segment needs its own distinct storage location. This collection of file system locations for all components in a HAWQ system is referred to as a *filespace*. The `pg_filespace_entry` table contains information about the collection of file system locations across a HAWQ system that comprise a HAWQ filespace.

<a id="topic1__gp138428"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_filespace\_entry</span>


| column        | type    | references                       | description                               |
|---------------|---------|----------------------------------|-------------------------------------------|
| `fsefsoid`    | oid     | pg\_filespace.oid                | Object id of the filespace.               |
| `fsedbid`     | integer | gp\_segment\_ configuration.dbid | Segment id.                               |
| `fselocation` | text    |                                  | File system location for this segment id. |



