---
title: pg_listener
---

The `pg_listener` system catalog table supports the `LISTEN` and `NOTIFY` commands. A listener creates an entry in `pg_listener` for each notification name it is listening for. A notifier scans and updates each matching entry to show that a notification has occurred. The notifier also sends a signal (using the PID recorded in the table) to awaken the listener from sleep.

This table is not currently used in HAWQ.

<a id="topic1__gu143898"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_listener</span>

| column         | type    | references | description                                                                                                                      |
|----------------|---------|------------|----------------------------------------------------------------------------------------------------------------------------------|
| `relname`      | name    |            | Notify condition name. (The name need not match any actual relation in the database.                                             |
| `listenerpid`  | integer |            | PID of the server process that created this entry.                                                                               |
| `notification` | integer |            | Zero if no event is pending for this listener. If an event is pending, the PID of the server process that sent the notification. |




