---
title: pg_opclass
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_opclass` system catalog table defines index access method operator classes. Each operator class defines semantics for index columns of a particular data type and a particular index access method. Note that there can be multiple operator classes for a given data type/access method combination, thus supporting multiple behaviors. The majority of the information defining an operator class is actually not in its `pg_opclass` row, but in the associated rows in [pg\_amop](pg_amop.html#topic1) and [pg\_amproc](pg_amproc.html#topic1). Those rows are considered to be part of the operator class definition — this is not unlike the way that a relation is defined by a single [pg\_class](pg_class.html#topic1) row plus associated rows in [pg\_attribute](pg_attribute.html#topic1) and other tables.

<a id="topic1__gw141982"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_opclass</span>

| column         | type    | references        | description                                                             |
|----------------|---------|-------------------|-------------------------------------------------------------------------|
| `opcamid`      | oid     | pg\_am.oid        | Index access method operator class is for.                              |
| `opcname`      | name    |                   | Name of this operator class                                             |
| `opcnamespace` | oid     | pg\_namespace.oid | Namespace of this operator class                                        |
| `opcowner`     | oid     | pg\_authid.oid    | Owner of the operator class                                             |
| `opcintype`    | oid     | pg\_type.oid      | Data type that the operator class indexes.                              |
| `opcdefault`   | boolean |                   | True if this operator class is the default for the data type opcintype. |
| `opckeytype`   | oid     | pg\_type.oid      | Type of data stored in index, or zero if same as opcintype.             |




