---
title: pg_partition_columns
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_partition_columns` system view is used to show the partition key columns of a partitioned table.

<a id="topic1__ha179967"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_partition\_columns</span>

| column                      | type     | references | description                                                                                                                          |
|-----------------------------|----------|------------|--------------------------------------------------------------------------------------------------------------------------------------|
| `schemaname`                | name     |            | The name of the schema the partitioned table is in.                                                                                  |
| `tablename`                 | name     |            | The table name of the top-level parent table.                                                                                        |
| `columnname`                | name     |            | The name of the partition key column.                                                                                                |
| `partitionlevel`            | smallint |            | The level of this subpartition in the hierarchy.                                                                                     |
| `position_in_partition_key` | integer  |            | For list partitions you can have a composite (multi-column) partition key. This shows the position of the column in a composite key. |




