---
title: pg_resqueue
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_resqueue` system catalog table contains information about HAWQ resource queues, which are used for managing resources. This table is populated only on the master. This table is defined in the `pg_global` tablespace, meaning it is globally shared across all databases in the system.

<a id="topic1__hi141982"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_resqueue</span>

| column                  | type                     | references | description                                                                                                                                                                              |
|-------------------------|--------------------------|------------|------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `rsqname`               | name                     |            | The name of the resource queue.                                                                                                                                                          |
| `parentoid`             | oid                      |            | OID of the parent queue of the resource queue.                                                                                                                                           |
| `activestats`           | integer                  |            | The maximum number of parallel active statements allowed for the resource queue.                                                                                                         |
| `memorylimit`           | text                     |            | The maximum amount of memory that can be consumed by the resource queue (expressed as a percentage of the cluster's memory.)  Because of how memory is determined, the memory limit is not an upper limit on the memory actually used by a resource queue.                                                           |
| `corelimit`             | text                     |            | The maximum amount of cores that can be consumed by the resource queue (expressed as a percentage of the cluster's cores.)                                                               |
| `resovercommit`         | real                     |            | The ratio of resource consumption overcommit for the resource queue.                                                                                                                     |
| `allocpolicy`           | text                     |            | The resource allocation policy name for the resource queue.                                                                                                                              |
| `vsegresourcequota`     | text                     |            | The virtual segment resource quota for the resource queue.                                                                                                                               |
| `nvsegupperlimit`       | integer                  |            | The upper limit of number of virtual segments allowed for one statement execution.                                                                                                       |
| `nvseglowerlimit`       | integer                  |            | The lower limit of number of virtual segments allowed for one statement execution.                                                                                                       |
| `nvsegupperlimitperseg` | real                     |            | The upper limit of number of virtual segments allowed for one statement execution. The limit is averaged by the number of segments in the cluster.                                       |
| `nvseglowerlimitperseg` | real                     |            | The lower limit of number of virtual segments aloowed for one statement execution. The limit is averaged by the number of segments in the cluster.                                       |
| `creationtime`          | timestamp with time zone |            | Time when the resource queue was created.                                                                                                                                                |
| `updatetime`            | timestamp with time zone |            | Time when the resource queue was last changed.                                                                                                                                           |
| `status`                | text                     |            | Current status of the resource queue.Possible values are `branch`, which indicates a branch resource queue (has children), and `NULL`, which indicates a leaf-level queue (no children). |




