---
title: pg_rewrite
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_rewrite` system catalog table stores rewrite rules for tables and views. `pg_class.relhasrules` must be true if a table has any rules in this catalog.

<a id="topic1__hm149830"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_rewrite</span>

| column       | type     | references    | description                                                                                             |
|--------------|----------|---------------|---------------------------------------------------------------------------------------------------------|
| `rulename`   | name     |               | Rule name.                                                                                              |
| `ev_class`   | oid      | pg\_class.oid | The table this rule is for.                                                                             |
| `ev_attr`    | smallint |               | The column this rule is for (currently, always zero to indicate the whole table).                       |
| `ev_type `   | char     |               | Event type that the rule is for: <ul><li> 1 = `SELECT` </li> <li>2 = `UPDATE`</li> <li>3 = `INSERT`</li> <li>4 = `DELETE`</li> </ul>                       |
| `is_instead` | boolean  |               | True if the rule is an `INSTEAD` rule.                                                                    |
| `ev_qual`    | text     |               | Expression tree (in the form of a `nodeToString()` representation) for the rule's qualifying condition. |
| `ev_action`  | text     |               | Query tree (in the form of a `nodeToString()` representation) for the rule's action.                    |


