---
title: pg_resqueue_status
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_resqueue_status` view allows administrators to see status and activity for a workload management resource queue. It shows how many queries are waiting to run and how many queries are currently active in the system from a particular resource queue.

<a id="topic1__fp141982"></a>
<span class="tablecap">Table 1. pg\_resqueue\_status</span>

<table>
<colgroup>
<col width="25%" />
<col width="25%" />
<col width="25%" />
<col width="25%" />
</colgroup>
<thead>
<tr class="header">
<th>column</th>
<th>type</th>
<th>references</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code class="ph codeph">rsqname</code></td>
<td>name</td>
<td>pg_resqueue_ rsqname</td>
<td>The name of the resource queue.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">segmem</code></td>
<td>text</td>
<td> </td>
<td>The calculated virtual segment memory resource quota.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">segcore</code></td>
<td>text</td>
<td> </td>
<td>The calculated virtual segment core resource quota.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">segsize</code></td>
<td>text</td>
<td> </td>
<td>The number of virtual segments that can be allocated to the resource queue.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">segsizemax</code></td>
<td>text</td>
<td> </td>
<td>The maximum number of virtual segments that can be allocated to the resource queue.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">inusemem</code></td>
<td>text</td>
<td> </td>
<td>Aggregated in-use memory by running statements.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">inusecore</code></td>
<td>text</td>
<td> </td>
<td>Aggregated in-use core by running statements.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">rsqholders</code></td>
<td>text</td>
<td> </td>
<td>The number of resource holders for running statements. A resource holder is a running statement whose allocated resources from the resource manager has not been returned yet. In other words, the statement holds some resources allocated from the resource manager.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">resqwaiters</code></td>
<td>text</td>
<td> </td>
<td>The number of resource requests that are queued and waiting for the resource.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">paused</code></td>
<td>text</td>
<td> </td>
<td>The dynamic pause status of the resource queue. There are three possible statuses:
<ul>
<li><code class="ph codeph">T</code> : Queue is paused for the allocation of resources to queued and incoming requests.</li>
<li><code class="ph codeph">F</code> : Queue is in a normal working status.</li>
<li><code class="ph codeph">R</code> : Queue is paused and may have encountered resource fragmentation.</li>
</ul></td>
</tr>
</tbody>
</table>


