---
title: pg_stat_operations
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The view `pg_stat_operations` shows details about the last operation performed on a database object (such as a table, index, view or database) or a global object (such as a role).

<a id="topic1__ht141982"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_stat\_operations</span>


<table>
<colgroup>
<col width="25%" />
<col width="25%" />
<col width="10%" />
<col width="40%" />
</colgroup>
<thead>
<tr class="header">
<th>column</th>
<th>type</th>
<th>references</th>
<th>description</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><code class="ph codeph">classname</code></td>
<td>text</td>
<td> </td>
<td>The name of the system table in the <code class="ph codeph">pg_catalog</code> schema where the record about this object is stored (<code class="ph codeph">pg_class</code>=relations, <code class="ph codeph">pg_database</code>=databases,
<p><code class="ph codeph">pg_namespace</code>=schemas,</p>
<p><code class="ph codeph">pg_authid</code>=roles)</p></td>
</tr>
<tr class="even">
<td><code class="ph codeph">objname</code></td>
<td>name</td>
<td> </td>
<td>The name of the object.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">objid</code></td>
<td>oid</td>
<td> </td>
<td>The OID of the object.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">schemaname</code></td>
<td>name</td>
<td> </td>
<td>The name of the schema where the object resides.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">usestatus</code></td>
<td>text</td>
<td> </td>
<td>The status of the role who performed the last operation on the object (<code class="ph codeph">CURRENT</code>=a currently active role in the system, <code class="ph codeph">DROPPED</code>=a role that no longer exists in the system, <code class="ph codeph">CHANGED</code>=a role name that exists in the system, but has changed since the last operation was performed).</td>
</tr>
<tr class="even">
<td><code class="ph codeph">usename</code></td>
<td>name</td>
<td> </td>
<td>The name of the role that performed the operation on this object.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">actionname</code></td>
<td>name</td>
<td> </td>
<td>The action that was taken on the object.</td>
</tr>
<tr class="even">
<td><code class="ph codeph">subtype</code></td>
<td>text</td>
<td> </td>
<td>The type of object operated on or the subclass of operation performed.</td>
</tr>
<tr class="odd">
<td><code class="ph codeph">statime</code></td>
<td>timestamp with time zone</td>
<td> </td>
<td>The timestamp of the operation. This is the same timestamp that is written to the HAWQ server log files in case you need to look up more detailed information about the operation in the logs.</td>
</tr>
</tbody>
</table>



