---
title: pg_stat_activity
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The view `pg_stat_activity` shows one row per server process and details about it associated user session and query. The columns that report data on the current query are available unless the parameter `stats_command_string` has been turned off. Furthermore, these columns are only visible if the user examining the view is a superuser or the same as the user owning the process being reported on.

<a id="topic1__hq141982"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_stat\_activity</span>

| column             | type                     | references       | description                                                   |
|--------------------|--------------------------|------------------|---------------------------------------------------------------|
| `datid`            | oid                      | pg\_database.oid | Database OID                                                  |
| `datname`          | name                     |                  | Database name                                                 |
| `procpid`          | integer                  |                  | Process ID of the server process                              |
| `sess_id`          | integer                  |                  | Session ID                                                    |
| `usesysid`         | oid                      | pg\_authid.oid   | Role OID                                                      |
| `usename`          | name                     |                  | Role name                                                     |
| `current_query`    | text                     |                  | Current query that process is running                         |
| `waiting`          | boolean                  |                  | True if waiting on a lock, false if not waiting               |
| `query_start`      | timestamp with time zone |                  | Time query began execution                                    |
| `backend_start`    | timestamp with time zone |                  | Time backend process was started                              |
| `client_addr`      | inet                     |                  | Client address                                                |
| `client_port`      | integer                  |                  | Client port                                                   |
| `application_name` | text                     |                  | Client application name                                       |
| `xact_start`       | timestamp with time zone |                  | Transaction start time                                        |
| `waiting_resource` | boolean                  |                  | True if waiting for resource allocation, false if not waiting |




