---
title: pg_tablespace
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The `pg_tablespace` system catalog table stores information about the available tablespaces. Tables can be placed in particular tablespaces to aid administration of disk layout. Unlike most system catalogs, `pg_tablespace` is shared across all databases of a HAWQ system: there is only one copy of `pg_tablespace` per system, not one per database.

<a id="topic1__hx156260"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_tablespace</span>

| column            | type        | references        | description                                                                                                                 |
|-------------------|-------------|-------------------|-----------------------------------------------------------------------------------------------------------------------------|
| `spcname`         | name        |                   | Tablespace name.                                                                                                            |
| `spcowner`        | oid         | pg\_authid.oid    | Owner of the tablespace, usually the user who created it.                                                                   |
| `spclocation`     | text\[\]    |                   | Deprecated.                                                                                                                 |
| `spcacl `         | aclitem\[\] |                   | Tablespace access privileges.                                                                                               |
| `spcprilocations` | text\[\]    |                   | Deprecated.                                                                                                                 |
| `spcmrilocations` | text\[\]    |                   | Deprecated.                                                                                                                 |
| `spcfsoid`        | oid         | pg\_filespace.oid | The object id of the filespace used by this tablespace. A filespace defines directory locations on the master and segments. |




