---
title: vacuumdb
---

Garbage-collects and analyzes a database.

## <a id="topic1__section2"></a>Synopsis

``` pre
vacuumdb [<connection-option>...] [--full | -f ] [-F | --freeze] [--verbose | -v ]
    [--analyze | -z] [--table | -t <table> [( column [,...] )] ] [<dbname>]
    
vacuumdb --help 

vacuumdb --version
```
where:

```
<connection_options> =
    [-h <host> | --host <host>] 
    [-p <port> | -- port <port>] 
    [-U <username> | --username <username>] 
    [-w | --no-password]
    [-W | --password] 
```

## <a id="topic1__section3"></a>Description

`vacuumdb` is a utility for cleaning a PostgreSQL database. vacuumdb will also generate internal statistics used by the PostgreSQL query optimizer.

`vacuumdb` is a wrapper around the SQL command `VACUUM`. There is no effective difference between vacuuming databases via this utility and via other methods for accessing the server.

## <a id="topic1__section4"></a>Options

<dt>-a | -\\\-all  </dt>
<dd>Vacuums all databases.</dd>

<dt>\[-d\] *dbname* | \[-\\\-dbname\] *dbname*  </dt>
<dd>The name of the database to vacuum. If this is not specified and `--all` is not used, the database name is read from the environment variable `PGDATABASE`. If that is not set, the user name specified for the connection is used.</dd>

<dt>-f | -\\\-full  </dt>
<dd>Selects a full vacuum, which may reclaim more space, but takes much longer and exclusively locks the table.

**Warning:** A `VACUUM FULL` is not recommended in HAWQ.</dd>

<dt>-F | -\\\-freeze  </dt>
<dd>Freeze row transaction information.</dd>

<dt>-q | -\\\-quiet  </dt>
<dd>Do not display a response.</dd>

<dt>-t *table* \[(*column*)\] | -\\\-table *table* \[(*column*)\]  </dt>
<dd>Clean or analyze this table only. Column names may be specified only in conjunction with the `--analyze` option. If you specify columns, you probably have to escape the parentheses from the shell.</dd>

<dt>-v | -\\\-verbose  </dt>
<dd>Print detailed information during processing.</dd>

<dt>-z | -\\\-analyze  </dt>
<dd>Collect statistics for use by the query planner.</dd>

**Connection Options**

<dt>-h *host* | -\\\-host *host*  </dt>
<dd>Specifies the host name of the machine on which the HAWQ master database server is running. If not specified, reads from the environment variable `PGHOST` or defaults to localhost.</dd>

<dt>-p *port* | -\\\-port *port*  </dt>
<dd>Specifies the TCP port on which the HAWQ master database server is listening for connections. If not specified, reads from the environment variable `PGPORT` or defaults to 5432.</dd>

<dt>-U *username* | -\\\-username *username*  </dt>
<dd>The database role name to connect as. If not specified, reads from the environment variable `PGUSER` or defaults to the current system user name.</dd>

<dt>-w | -\\\-no-password  </dt>
<dd>Never issue a password prompt. If the server requires password authentication and a password is not available by other means such as a `.pgpass` file, the connection attempt will fail. This option can be useful in batch jobs and scripts where no user is present to enter a password.</dd>

<dt>-W | -\\\-password  </dt>
<dd>Force a password prompt.</dd>

## <a id="topic1__section6"></a>Notes

`vacuumdb` might need to connect several times to the master server, asking for a password each time. It is convenient to have a `~/.pgpass` file in such cases.

## <a id="topic1__section7"></a>Examples

To clean the database `test`:

``` shell
$ vacuumdb testdb
```

To clean and analyze a database named `bigdb`:

``` shell
$ vacuumdb --analyze bigdb
```

To clean a single table `foo` in a database named `mydb`, and analyze a single column `bar` of the table. Note the quotes around the table and column names to escape the parentheses from the shell:

``` shell
$ vacuumdb --analyze --verbose --table 'foo(bar)' mydb
```
