---
title: Configuration Parameter Categories
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

Configuration parameters affect categories of server behaviors, such as resource consumption, query tuning, and authentication. The following sections describe HAWQ configuration parameter categories.

**Note:** If you install and manage HAWQ using Ambari, be aware that property changes made using `hawq config` could be overwritten by Ambari. For Ambari-managed HAWQ clusters, always use the Ambari administration interface to set or change HAWQ configuration properties.

## <a id="topic_hfd_1tl_zp"></a>Append-Only Table Parameters

The following parameters configure the <span class="ph">append-only</span> tables feature of HAWQ.

-   [max\_appendonly\_tables](parameter_definitions.html#max_appendonly_tables)
-   [optimizer\_parts\_to\_force\_sort\_on\_insert](parameter_definitions.html#optimizer_parts_to_force_sort_on_insert)

## <a id="topic39"></a>Client Connection Default Parameters

These configuration parameters set defaults that are used for client connections.

### <a id="topic40"></a>Statement Behavior Parameters

-   [check\_function\_bodies](parameter_definitions.html#check_function_bodies)
-   [default\_tablespace](parameter_definitions.html#default_tablespace)
-   [default\_transaction\_isolation](parameter_definitions.html#default_transaction_isolation)
-   [default\_transaction\_read\_only](parameter_definitions.html#default_transaction_read_only)
-   [search\_path](parameter_definitions.html#search_path)
-   [statement\_timeout](parameter_definitions.html#statement_timeout)
-   [vacuum\_freeze\_min\_age](parameter_definitions.html#vacuum_freeze_min_age)

### <a id="topic41"></a>Locale and Formatting Parameters

-   [client\_encoding](parameter_definitions.html#client_encoding)
-   [DateStyle](parameter_definitions.html#DateStyle)
-   [extra\_float\_digits](parameter_definitions.html#extra_float_digits)
-   [IntervalStyle](parameter_definitions.html#IntervalStyle)
-   [lc\_collate](parameter_definitions.html#lc_collate)
-   [lc\_ctype](parameter_definitions.html#lc_ctype)
-   [lc\_messages](parameter_definitions.html#lc_messages)
-   [lc\_monetary](parameter_definitions.html#lc_monetary)
-   [lc\_numeric](parameter_definitions.html#lc_numeric)
-   [lc\_time](parameter_definitions.html#lc_time)
-   [TimeZone](parameter_definitions.html#TimeZone)

### <a id="topic42"></a>Other Client Default Parameters

-   [dynamic\_library\_path](parameter_definitions.html#dynamic_library_path)
-   [explain\_memory\_verbosity](parameter_definitions.html#explain_memory_verbosity)
-   [explain\_pretty\_print](parameter_definitions.html#explain_pretty_print)
-   [local\_preload\_libraries](parameter_definitions.html#local_preload_libraries)

## <a id="topic12"></a>Connection and Authentication Parameters

These parameters control how clients connect and authenticate to HAWQ.

### <a id="topic13"></a>Connection Parameters

-   [listen\_addresses](parameter_definitions.html#listen_addresses)
-   [max\_connections](parameter_definitions.html#max_connections)
-   [seg\_max\_connections](parameter_definitions.html#seg_max_connections)
-   [superuser\_reserved\_connections](parameter_definitions.html#superuser_reserved_connections)
-   [tcp\_keepalives\_count](parameter_definitions.html#tcp_keepalives_count)
-   [tcp\_keepalives\_idle](parameter_definitions.html#tcp_keepalives_idle)
-   [tcp\_keepalives\_interval](parameter_definitions.html#tcp_keepalives_interval)
-   [unix\_socket\_directory](parameter_definitions.html#unix_socket_directory)
-   [unix\_socket\_group](parameter_definitions.html#unix_socket_group)
-   [unix\_socket\_permissions](parameter_definitions.html#unix_socket_permissions)

### <a id="topic14"></a>Security and Authentication Parameters

-   [authentication\_timeout](parameter_definitions.html#authentication_timeout)
-   [db\_user\_namespace](parameter_definitions.html#db_user_namespace)
-   [enable\_secure\_filesystem](parameter_definitions.html#enable_secure_filesystem)
-   [krb\_caseins\_users](parameter_definitions.html#krb_caseins_users)
-   [krb\_server\_keyfile](parameter_definitions.html#krb_server_keyfile)
-   [krb\_srvname](parameter_definitions.html#krb_srvname)
-   [password\_encryption](parameter_definitions.html#password_encryption)
-   [password\_hash\_algorithm](parameter_definitions.html#password_hash_algorithm)
-   [ssl](parameter_definitions.html#ssl)
-   [ssl\_ciphers](parameter_definitions.html#ssl_ciphers)

## <a id="topic47"></a>Database and Tablespace/Filespace Parameters

The following parameters configure the maximum number of databases, tablespaces, and filespaces allowed in a system.

-   [gp\_max\_tablespaces](parameter_definitions.html#gp_max_tablespaces)
-   [gp\_max\_filespaces](parameter_definitions.html#gp_max_filespaces)
-   [gp\_max\_databases](parameter_definitions.html#gp_max_databases)

## <a id="topic29"></a>Error Reporting and Logging Parameters

These configuration parameters control HAWQ logging.

### <a id="topic30"></a>Log Rotation

-   [log\_rotation\_age](parameter_definitions.html#log_rotation_age)
-   [log\_rotation\_size](parameter_definitions.html#log_rotation_size)
-   [log\_truncate\_on\_rotation](parameter_definitions.html#log_truncate_on_rotation)

### <a id="topic31"></a>When to Log

-   [client\_min\_messages](parameter_definitions.html#client_min_messages)
-   [log\_error\_verbosity](parameter_definitions.html#log_error_verbosity)
-   [log\_min\_duration\_statement](parameter_definitions.html#log_min_duration_statement)
-   [log\_min\_error\_statement](parameter_definitions.html#log_min_error_statement)
-   [log\_min\_messages](parameter_definitions.html#log_min_messages)
-   [optimizer\_minidump](parameter_definitions.html#optimizer_minidump)

### <a id="topic32"></a>What to Log

-   [debug\_pretty\_print](parameter_definitions.html#debug_pretty_print)
-   [debug\_print\_parse](parameter_definitions.html#debug_print_parse)
-   [debug\_print\_parse](parameter_definitions.html#debug_print_parse)
-   [debug\_print\_plan](parameter_definitions.html#debug_print_plan)
-   [debug\_print\_prelim\_plan](parameter_definitions.html#debug_print_prelim_plan)
-   [debug\_print\_rewritten](parameter_definitions.html#debug_print_rewritten)
-   [debug\_print\_slice\_table](parameter_definitions.html#debug_print_slice_table)
-   [log\_autostats](parameter_definitions.html#log_autostats)
-   [log\_connections](parameter_definitions.html#log_connections)
-   [log\_disconnections](parameter_definitions.html#log_disconnections)
-   [log\_dispatch\_stats](parameter_definitions.html#log_dispatch_stats)
-   [log\_duration](parameter_definitions.html#log_duration)
-   [log\_executor\_stats](parameter_definitions.html#log_executor_stats)
-   [log\_hostname](parameter_definitions.html#log_hostname)
-   [log\_parser\_stats](parameter_definitions.html#log_parser_stats)
-   [log\_planner\_stats](parameter_definitions.html#log_planner_stats)
-   [log\_statement](parameter_definitions.html#log_statement)
-   [log\_statement\_stats](parameter_definitions.html#log_statement_stats)
-   [log\_timezone](parameter_definitions.html#log_timezone)
-   [gp\_debug\_linger](parameter_definitions.html#gp_debug_linger)
-   [gp\_log\_format](parameter_definitions.html#gp_log_format)
-   [gp\_max\_csv\_line\_length](parameter_definitions.html#gp_max_csv_line_length)
-   [gp\_reraise\_signal](parameter_definitions.html#gp_reraise_signal)

## <a id="topic45"></a>External Table Parameters

The following parameters configure the external tables feature of HAWQ.

-   [gp\_external\_enable\_exec](parameter_definitions.html#gp_external_enable_exec)
-   [gp\_external\_grant\_privileges](parameter_definitions.html#gp_external_grant_privileges)
-   [gp\_external\_max\_segs](parameter_definitions.html#gp_external_max_segs)
-   [gp\_reject\_percent\_threshold](parameter_definitions.html#gp_reject_percent_threshold)

## <a id="topic57"></a>GPORCA Parameters

These parameters control the usage of GPORCA by HAWQ. For information about GPORCA, see [About GPORCA](../../query/gporca/query-gporca-optimizer.html#topic_i4y_prl_vp).

-   [optimizer](parameter_definitions.html#optimizer)
-   [optimizer\_analyze\_root\_partition](parameter_definitions.html#optimizer_analyze_root_partition)
-   [optimizer\_minidump](parameter_definitions.html#optimizer_minidump)
-   [optimizer\_parts\_to\_force\_sort\_on\_insert](parameter_definitions.html#optimizer_parts_to_force_sort_on_insert)
-   [optimizer\_prefer\_scalar\_dqa\_multistage\_agg](parameter_definitions.html#optimizer_prefer_scalar_dqa_multistage_agg)

## <a id="topic49"></a>HAWQ Array Configuration Parameters

The parameters in this topic control the configuration of the HAWQ array and its components: segments, master, distributed transaction manager, master mirror, and interconnect.

### <a id="topic50"></a>Interconnect Configuration Parameters

-   [gp\_interconnect\_cache\_future\_packets](../../reference/guc/parameter_definitions.html#gp_interconnect_cache_future_packets)
-  [gp\_interconnect\_default\_rtt](../../reference/guc/parameter_definitions.html#gp_interconnect_default_rtt)
-   [gp\_interconnect\_fc\_method](parameter_definitions.html#gp_interconnect_fc_method)
-   [gp\_interconnect\_hash\_multiplier](parameter_definitions.html#gp_interconnect_hash_multiplier)
-  [gp\_interconnect\_min\_retries\_before\_timeout](../../reference/guc/parameter_definitions.html#gp_interconnect_min_retries_before_timeout)
-  [gp\_interconnect\_min\_rto](../../reference/guc/parameter_definitions.html#gp_interconnect_min_rto)
-   [gp\_interconnect\_queue\_depth](parameter_definitions.html#gp_interconnect_queue_depth)
-   [gp\_interconnect\_setup\_timeout](parameter_definitions.html#gp_interconnect_setup_timeout)
-   [gp\_interconnect\_snd\_queue\_depth](parameter_definitions.html#gp_interconnect_snd_queue_depth)
-  [gp\_interconnect\_timer\_checking\_period
](../../reference/guc/parameter_definitions.html#gp_interconnect_timer_checking_period
)
-  [gp\_interconnect\_timer\_period
](../../reference/guc/parameter_definitions.html#gp_interconnect_timer_period
)
-   [gp\_interconnect\_type](parameter_definitions.html#gp_interconnect_type)
-   [gp\_max\_packet\_size](parameter_definitions.html#gp_max_packet_size)

### <a id="topic51"></a>Dispatch Configuration Parameters

-   [gp\_cached\_segworkers\_threshold](parameter_definitions.html#gp_cached_segworkers_threshold)
-   [gp\_connections\_per\_thread](parameter_definitions.html#gp_connections_per_thread)
-   [gp\_enable\_direct\_dispatch](parameter_definitions.html#gp_enable_direct_dispatch)
-   [gp\_segment\_connect\_timeout](parameter_definitions.html#gp_segment_connect_timeout)
-   [gp\_set\_proc\_affinity](parameter_definitions.html#gp_set_proc_affinity)
-   [gp\_vmem\_idle\_resource\_timeout](parameter_definitions.html#gp_vmem_idle_resource_timeout)

### <a id="topic52"></a>Fault Operation Parameters

-   [gp\_set\_read\_only](parameter_definitions.html#gp_set_read_only)

### <a id="topic_ctl_sww_vv"></a>Filepace Parameters

-   [hawq\_dfs\_url](parameter_definitions.html#hawq_dfs_url)

### <a id="topic_r4m_5ww_vv"></a>Master Configuration Parameters

-   [hawq\_master\_address\_host](parameter_definitions.html#hawq_master_address_host)
-   [hawq\_master\_address\_port](parameter_definitions.html#hawq_master_address_port)
-   [hawq\_master\_directory](parameter_definitions.html#hawq_master_directory)
-   [hawq\_master\_temp\_directory](parameter_definitions.html#hawq_master_temp_directory)

### <a id="topic54"></a>Read-Only Parameters

-   [gp\_command\_count](parameter_definitions.html#gp_command_count)
-   [gp\_role](parameter_definitions.html#gp_role)
-   [gp\_session\_id](parameter_definitions.html#gp_session_id)

### <a id="topic_zgm_vww_vv"></a>Segment Configuration Parameters

-   [hawq\_segment\_address\_port](parameter_definitions.html#hawq_segment_address_port)
-   [hawq\_segment\_directory](parameter_definitions.html#hawq_segment_directory)
-   [hawq\_segment\_temp\_directory](parameter_definitions.html#hawq_segment_temp_directory)

## <a id="topic_pxfparam"></a>HAWQ Extension Framework (PXF) Parameters

The parameters in this topic control configuration, query analysis, and statistics collection in the HAWQ Extension Framework (PXF).

-   [pxf\_enable\_filter\_pushdown](parameter_definitions.html#pxf_enable_filter_pushdown)
-   [pxf\_enable\_stat\_collection](parameter_definitions.html#pxf_enable_stat_collection)
-   [pxf\_remote\_service\_login](parameter_definitions.html#pxf_remote_service_login)
-   [pxf\_remote\_service\_secret](parameter_definitions.html#pxf_remote_service_secret)
-   [pxf\_service\_address](parameter_definitions.html#pxf_service_address)
-   [pxf\_service\_port] (parameter_definitions.html#pxf_service_port)
-   [pxf\_stat\_max\_fragments] (parameter_definitions.html#pxf_stat_max_fragments)

## <a id="topic56"></a>HAWQ PL/Java Extension Parameters

The parameters in this topic control the configuration of HAWQ PL/Java extensions.

-   [pljava\_classpath](parameter_definitions.html#pljava_classpath)
-   [pljava\_statement\_cache\_size](parameter_definitions.html#pljava_statement_cache_size)
-   [pljava\_release\_lingering\_savepoints](parameter_definitions.html#pljava_release_lingering_savepoints)
-   [pljava\_vmoptions](parameter_definitions.html#pljava_vmoptions)

## <a id="hawq_resource_management"></a>HAWQ Resource Management Parameters

The following configuration parameters configure the HAWQ resource management feature.

-   [hawq\_global\_rm\_type](parameter_definitions.html#hawq_global_rm_type)
-   [hawq\_re\_memory\_overcommit\_max](parameter_definitions.html#hawq_re_memory_overcommit_max)
-   [hawq\_rm\_cluster\_report\_period](parameter_definitions.html#hawq_rm_cluster_report)
-   [hawq\_rm\_force\_alterqueue\_cancel\_queued\_request](parameter_definitions.html#hawq_rm_force_alterqueue_cancel_queued_request)
-   [hawq\_rm\_master\_port](parameter_definitions.html#hawq_rm_master_port)
-   [hawq\_rm\_memory\_limit\_perseg](parameter_definitions.html#hawq_rm_memory_limit_perseg)
-   [hawq\_rm\_min\_resource\_perseg](parameter_definitions.html#hawq_rm_min_resource_perseg)
-   [hawq\_rm\_nresqueue\_limit](parameter_definitions.html#hawq_rm_nresqueue_limit)
-   [hawq\_rm\_nslice\_perseg\_limit](parameter_definitions.html#hawq_rm_nslice_perseg_limit)
-   [hawq\_rm\_nvcore\_limit\_perseg](parameter_definitions.html#hawq_rm_nvcore_limit_perseg)
-   [hawq\_rm\_nvseg\_perquery\_limit](parameter_definitions.html#hawq_rm_nvseg_perquery_limit)
-   [hawq\_rm\_nvseg\_perquery\_perseg\_limit](parameter_definitions.html#hawq_rm_nvseg_perquery_perseg_limit)
-   [hawq\_rm\_nvseg\_variance\_amon\_seg\_limit](parameter_definitions.html#hawq_rm_nvseg_variance_amon_seg_limit)
-   [hawq\_rm\_rejectrequest\_nseg\_limit](parameter_definitions.html#hawq_rm_rejectrequest_nseg_limit)
-   [hawq\_rm\_resource\_idle\_timeout](parameter_definitions.html#hawq_rm_resource_idle_timeout)
-   [hawq\_rm\_return\_percent\_on\_overcommit](parameter_definitions.html#hawq_rm_return_percent_on_overcommit)
-   [hawq\_rm\_segment\_heartbeat\_interval](parameter_definitions.html#hawq_rm_segment_heartbeat_interval)
-   [hawq\_rm\_segment\_port](parameter_definitions.html#hawq_rm_segment_port)
-   [hawq\_rm\_stmt\_nvseg](parameter_definitions.html#hawq_rm_stmt_nvseg)
-   [hawq\_rm\_stmt\_vseg\_memory](parameter_definitions.html#hawq_rm_stmt_vseg_memory)
-   [hawq\_rm\_tolerate\_nseg\_limit](parameter_definitions.html#hawq_rm_tolerate_nseg_limit)
-   [hawq\_rm\_yarn\_address](parameter_definitions.html#hawq_rm_yarn_address)
-   [hawq\_rm\_yarn\_app\_name](parameter_definitions.html#hawq_rm_yarn_app_name)
-   [hawq\_rm\_yarn\_queue\_name](parameter_definitions.html#hawq_rm_yarn_queue_name)
-   [hawq\_rm\_yarn\_scheduler\_address](parameter_definitions.html#hawq_rm_yarn_scheduler_address)

## <a id="topic43"></a>Lock Management Parameters

These configuration parameters set limits for locks and deadlocks.

-   [deadlock\_timeout](parameter_definitions.html#deadlock_timeout)
-   [max\_locks\_per\_transaction](parameter_definitions.html#max_locks_per_transaction)

## <a id="topic48"></a>Past PostgreSQL Version Compatibility Parameters

The following parameters provide compatibility with older PostgreSQL versions. You do not need to change these parameters in HAWQ.

-   [add\_missing\_from](parameter_definitions.html#add_missing_from)
-   [array\_nulls](parameter_definitions.html#array_nulls)
-   [backslash\_quote](parameter_definitions.html#backslash_quote)
-   [escape\_string\_warning](parameter_definitions.html#escape_string_warning)
-   [regex\_flavor](parameter_definitions.html#regex_flavor)
-   [standard\_conforming\_strings](parameter_definitions.html#standard_conforming_strings)
-   [transform\_null\_equals](parameter_definitions.html#transform_null_equals)

## <a id="topic21"></a>Query Tuning Parameters

These parameters control aspects of SQL query processing such as query operators and operator settings and statistics sampling.

### <a id="topic22"></a>Legacy Query Optimizer Operator Control Parameters

The following parameters control the types of plan operations the legacy query optimizer can use. Enable or disable plan operations to force the legacy optimizer to choose a different plan. This is useful for testing and comparing query performance using different plan types.

-   [enable\_bitmapscan](parameter_definitions.html#enable_bitmapscan)
-   [enable\_groupagg](parameter_definitions.html#enable_groupagg)
-   [enable\_hashagg](parameter_definitions.html#enable_hashagg)
-   [enable\_hashjoin](parameter_definitions.html#enable_hashjoin)
-   [enable\_indexscan](parameter_definitions.html#enable_indexscan)
-   [enable\_mergejoin](parameter_definitions.html#enable_mergejoin)
-   [enable\_nestloop](parameter_definitions.html#enable_nestloop)
-   [enable\_seqscan](parameter_definitions.html#enable_seqscan)
-   [enable\_sort](parameter_definitions.html#enable_sort)
-   [enable\_tidscan](parameter_definitions.html#enable_tidscan)
-   [gp\_enable\_agg\_distinct](parameter_definitions.html#gp_enable_agg_distinct)
-   [gp\_enable\_agg\_distinct\_pruning](parameter_definitions.html#gp_enable_agg_distinct_pruning)
-   [gp\_enable\_direct\_dispatch](parameter_definitions.html#gp_enable_direct_dispatch)
-   [gp\_enable\_fallback\_plan](parameter_definitions.html#gp_enable_fallback_plan)
-   [gp\_enable\_fast\_sri](parameter_definitions.html#gp_enable_fast_sri)
-   [gp\_enable\_groupext\_distinct\_gather](parameter_definitions.html#gp_enable_groupext_distinct_gather)
-   [gp\_enable\_groupext\_distinct\_pruning](parameter_definitions.html#gp_enable_groupext_distinct_pruning)
-   [gp\_enable\_multiphase\_agg](parameter_definitions.html#gp_enable_multiphase_agg)
-   [gp\_enable\_predicate\_propagation](parameter_definitions.html#gp_enable_predicate_propagation)
-   [gp\_enable\_preunique](parameter_definitions.html#gp_enable_preunique)
-   [gp\_enable\_sequential\_window\_plans](parameter_definitions.html#gp_enable_sequential_window_plans)
-   [gp\_enable\_sort\_distinct](parameter_definitions.html#gp_enable_sort_distinct)
-   [gp\_enable\_sort\_limit](parameter_definitions.html#gp_enable_sort_limit)

### <a id="topic23"></a>Legacy Query Optimizer Costing Parameters

**Warning:** Do not adjust these query costing parameters. They are tuned to reflect HAWQ hardware configurations and typical workloads. All of these parameters are related. Changing one without changing the others can have adverse affects on performance.

-   [cpu\_index\_tuple\_cost](parameter_definitions.html#cpu_index_tuple_cost)
-   [cpu\_operator\_cost](parameter_definitions.html#cpu_operator_cost)
-   [cpu\_tuple\_cost](parameter_definitions.html#cpu_tuple_cost)
-   [cursor\_tuple\_fraction](parameter_definitions.html#cursor_tuple_fraction)
-   [effective\_cache\_size](parameter_definitions.html#effective_cache_size)
-   [gp\_motion\_cost\_per\_row](parameter_definitions.html#gp_motion_cost_per_row)
-   [gp\_segments\_for\_planner](parameter_definitions.html#gp_segments_for_planner)
-   [random\_page\_cost](parameter_definitions.html#random_page_cost)
-   [seq\_page\_cost](parameter_definitions.html#seq_page_cost)

### <a id="topic24"></a>Database Statistics Sampling Parameters

These parameters adjust the amount of data sampled by an `ANALYZE` operation. Adjusting these parameters affects statistics collection system-wide. You can configure statistics collection on particular tables and columns by using the `ALTER TABLE` `SET STATISTICS` clause. See [About Database Statistics](../../datamgmt/about_statistics.html).

-   [default\_statistics\_target](parameter_definitions.html#default_statistics_target)
-   [gp\_analyze\_relative\_error](parameter_definitions.html#gp_analyze_relative_error)

### <a id="topic25"></a>Sort Operator Configuration Parameters

-   [gp\_enable\_sort\_distinct](parameter_definitions.html#gp_enable_sort_distinct)
-   [gp\_enable\_sort\_limit](parameter_definitions.html#gp_enable_sort_limit)

### <a id="topic26"></a>Aggregate Operator Configuration Parameters

-   [gp\_enable\_agg\_distinct](parameter_definitions.html#gp_enable_agg_distinct)
-   [gp\_enable\_agg\_distinct\_pruning](parameter_definitions.html#gp_enable_agg_distinct_pruning)
-   [gp\_enable\_multiphase\_agg](parameter_definitions.html#gp_enable_multiphase_agg)
-   [gp\_enable\_preunique](parameter_definitions.html#gp_enable_preunique)
-   [gp\_enable\_groupext\_distinct\_gather](parameter_definitions.html#gp_enable_groupext_distinct_gather)
-   [gp\_enable\_groupext\_distinct\_pruning](parameter_definitions.html#gp_enable_groupext_distinct_pruning)
-   [gp\_workfile\_compress\_algorithm](parameter_definitions.html#gp_workfile_compress_algorithm)

### <a id="topic27"></a>Join Operator Configuration Parameters

-   [join\_collapse\_limit](parameter_definitions.html#join_collapse_limit)
-   [gp\_adjust\_selectivity\_for\_outerjoins](parameter_definitions.html#gp_adjust_selectivity_for_outerjoins)
-   [gp\_hashjoin\_tuples\_per\_bucket](parameter_definitions.html#gp_hashjoin_tuples_per_bucket)
-   [gp\_statistics\_use\_fkeys](parameter_definitions.html#gp_statistics_use_fkeys)
-   [gp\_workfile\_compress\_algorithm](parameter_definitions.html#gp_workfile_compress_algorithm)

### <a id="topic28"></a>Other Legacy Query Optimizer Configuration Parameters

-   [from\_collapse\_limit](parameter_definitions.html#from_collapse_limit)
-   [gp\_enable\_predicate\_propagation](parameter_definitions.html#gp_enable_predicate_propagation)
-   [gp\_max\_plan\_size](parameter_definitions.html#gp_max_plan_size)
-   [gp\_statistics\_pullup\_from\_child\_partition](parameter_definitions.html#gp_statistics_pullup_from_child_partition)


## <a id="ranger_related"></a>Ranger Configuration Parameters

These parameters control certain aspects of Ranger configuration, including enabling Ranger authorization for HAWQ and the HAWQ Ranger Plug-in Service port setting.

-   [hawq\_acl\_type](parameter_definitions.html#hawq_acl_type)
-   [hawq\_rps\_address\_port](parameter_definitions.html#hawq_rps_address_port)
-   [hawq\_rps\_check\_local\_interval](parameter_definitions.html#hawq_rps_check_local_interval)



## <a id="statistics_collection"></a>Statistics Collection Parameters

### <a id="topic_qvz_nz3_yv"></a>Automatic Statistics Collection

When automatic statistics collection is enabled, you can run `ANALYZE` automatically in the same transaction as an `INSERT`, `COPY` or `CREATE TABLE...AS SELECT` statement when a certain threshold of rows is affected (`on_change`), or when a newly generated table has no statistics (`on_no_stats`). To enable this feature, set the following server configuration parameters in your HAWQ `hawq-site.xml` file by using the `hawq config` utility and restart HAWQ:

-   [gp\_autostats\_mode](parameter_definitions.html#gp_autostats_mode)
-   [log\_autostats](parameter_definitions.html#log_autostats)

### <a id="topic37"></a>Runtime Statistics Collection Parameters

These parameters control the server statistics collection feature. When statistics collection is enabled, you can access the statistics data using the *pg\_stat* and *pg\_statio* family of system catalog views.

-   [track\_activities](parameter_definitions.html#track_activities)
-   [track\_counts](parameter_definitions.html#track_counts)
-   [update\_process\_title](parameter_definitions.html#update_process_title)

## <a id="topic15"></a>System Resource Consumption Parameters

These parameters set the limits for system resources consumed by HAWQ.

### <a id="topic16"></a>Memory Consumption Parameters

These parameters control system memory usage. You can adjust `hawq_re_memory_overcommit_max` to avoid running out of memory at the segment hosts during query processing. See also [HAWQ Resource Management](#hawq_resource_management).

-   [hawq\_re\_memory\_overcommit\_max](parameter_definitions.html#hawq_re_memory_overcommit_max)
-   [gp\_vmem\_protect\_segworker\_cache\_limit](parameter_definitions.html#gp_vmem_protect_segworker_cache_limit)
-   [gp\_workfile\_limit\_files\_per\_query](parameter_definitions.html#gp_workfile_limit_files_per_query)
-   [gp\_workfile\_limit\_per\_query](parameter_definitions.html#gp_workfile_limit_per_query)
-   [gp\_workfile\_limit\_per\_segment](parameter_definitions.html#gp_workfile_limit_per_segment)
-   [maintenance\_work\_mem](parameter_definitions.html#maintenance_work_mem)
-   [max\_stack\_depth](parameter_definitions.html#max_stack_depth)
-   [shared\_buffers](parameter_definitions.html#shared_buffers)
-   [temp\_buffers](parameter_definitions.html#temp_buffers)

### <a id="topic17"></a>Free Space Map Parameters

These parameters control the sizing of the *free space map, which contains* expired rows. Use `VACUUM` to reclaim the free space map disk space.

-   [max\_fsm\_pages](parameter_definitions.html#max_fsm_pages)
-   [max\_fsm\_relations](parameter_definitions.html#max_fsm_relations)

### <a id="topic18"></a>OS Resource Parameters

-   [max\_files\_per\_process](parameter_definitions.html#max_files_per_process)
-   [shared\_preload\_libraries](parameter_definitions.html#shared_preload_libraries)

### <a id="topic19"></a>Cost-Based Vacuum Delay Parameters

**Warning:** Avoid using cost-based vacuum delay because it runs asynchronously among the segment instances. The vacuum cost limit and delay is invoked at the segment level without taking into account the state of the entire HAWQ array

You can configure the execution cost of `VACUUM` and `ANALYZE` commands to reduce the I/O impact on concurrent database activity. When the accumulated cost of I/O operations reaches the limit, the process performing the operation sleeps for a while, Then resets the counter and continues execution

-   [vacuum\_cost\_delay](parameter_definitions.html#vacuum_cost_delay)
-   [vacuum\_cost\_limit](parameter_definitions.html#vacuum_cost_limit)
-   [vacuum\_cost\_page\_dirty](parameter_definitions.html#vacuum_cost_page_dirty)
-   [vacuum\_cost\_page\_miss](parameter_definitions.html#vacuum_cost_page_miss)

### <a id="topic20"></a>Transaction ID Management Parameters

-   [xid\_stop\_limit](parameter_definitions.html#xid_stop_limit)


