---
title: Installing PXF Plugins
---

This topic describes how to install the built-in PXF service plug-ins that are required to connect PXF to HDFS, Hive, and HBase. You should install the appropriate RPMs on each node in your cluster.

**Note:** If you are using Ambari to install and manage your HAWQ cluster, you do not need to follow the manual installation steps in this topic. See [Install Apache HAWQ using Ambari](../../../../../20/install/install-ambari.html) instead.

All RPMs for PXF Plugin installation reside in the `hdb-n.n.n.n.tar.gz` download file. 

**Note:** The PXF plug-ins require that you Tomcat on the host machine. Tomcat reserves ports 8005, 8080, and 8009. If you have configured Oozie JXM reporting on a host that will run a PXF plug-in, make sure that the reporting service uses a port other than 8005. This helps to prevent port conflict errors from occurring when you start the PXF service.

-   **[Installing the PXF HDFS Plugin](../pxf/InstallPXFPlugins.html#topic_qsz_wq5_25)**

-   **[Installing the PXF Hive Plugin](../pxf/InstallPXFPlugins.html#topic_s1y_1v5_25)**

-   **[Installing the PXF HBase Plugin](../pxf/InstallPXFPlugins.html#topic_std_cv5_25)**

-   **[Installation and Log File Directories](../pxf/InstallPXFPlugins.html#directories_and_logs)**

## Installing the PXF HDFS Plugin<a id="topic_qsz_wq5_25"></a>

To install PXF support for HDFS, perform the following steps on each node in your cluster:

1.  Install the Tomcat RPM:

    ``` pre
    sudo rpm -i apache-tomcat-x.x.x.noarch.rpm
    ```

    where *x.x.x* corresponds to the version of Tomcat required by PXF.

2.  Install the PXF service plugin:

    ``` pre
    sudo rpm -i pxf-service-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install.

3.  Install the PXF HDFS plugin JAR file on all nodes in your cluster:

    ``` pre
    sudo rpm -i pxf-hdfs-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install. The install script copies the JAR file to the default location of `/usr/lib/pxf-n.n.n.n` and creates a softlink `pxf-hdfs.jar` in `/usr/lib/pxf`.

## Installing the PXF Hive Plugin<a id="topic_s1y_1v5_25"></a>

To install PXF support for Hive, perform the following steps on each node in your cluster:

1.  Install the Tomcat RPM:

    ``` pre
    sudo rpm -i apache-tomcat-x.x.x.noarch.rpm
    ```

    where *x.x.x* corresponds to the version of Tomcat required by PXF.

2.  Install the PXF service plugin:

    ``` pre
    sudo rpm -i pxf-service-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install.

3.  Install the PXF HDFS plugin JAR file on all nodes in your cluster:

    ``` pre
    sudo rpm -i pxf-hdfs-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install. The install script copies the JAR file to the default location of `/usr/lib/pxf-n.n.n.n` and creates a softline `pxf-hdfs.jar` in `/usr/lib/pxf`.

4.  Install the PXF Hive plugin JAR file on all nodes in your cluster:

    ``` pre
    sudo rpm -i pxf-hive-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install. The install script copies the JAR file to the default location of `/usr/lib/pxf-n.n.n.n` and creates a softlink `pxf-hive.jar` in `/usr/lib/pxf`.

## Installing the PXF HBase Plugin<a id="topic_std_cv5_25"></a>

To install PXF support for HBase, perform the following steps on each node in your cluster:

1.  Install the Tomcat RPM:

    ``` pre
    sudo rpm -i apache-tomcat-x.x.x.noarch.rpm
    ```

    where *x.x.x* corresponds to the version of Tomcat required by PXF.

2.  Install the PXF service plugin:

    ``` pre
    sudo rpm -i pxf-service-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install.

3.  Install the PXF HDFS plugin JAR file on all nodes in your cluster:

    ``` pre
    sudo rpm -i pxf-hdfs-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install. The install script copies the JAR file to the default location of `/usr/lib/pxf-n.n.n.n` and creates a softline `pxf-hdfs.jar` in `/usr/lib/pxf`.

4.  Install the PXF HBase plugin JAR file on all nodes in your cluster:

    ``` pre
    sudo rpm -i pxf-hbase-n.n.n-x.noarch.rpm
    ```

    where *n.n.n-x* corresponds to the version and build number you wish to install. The install script copies the JAR file to the default location of `/usr/lib/pxf-n.n.n.n` and creates a softlink `pxf-hbase.jar` in `/usr/lib/pxf`.

5.  Modify the `/etc/hbase/hbase-env.sh` configuration file to reference the `pxf-hbase.jar`. For example, update `/etc/hbase/conf/hbase-env.sh` to include the line:

    ``` pre
    export HBASE_CLASSPATH=${HBASE_CLASSPATH}:/usr/lib/pxf/pxf-hbase.jar
    ```

6.  Restart HBase after making changes to the HBase configuration.

## Installation and Log File Directories<a id="directories_and_logs"></a>

The RPM installation scripts create directories and log files on each node receiving the plug-in installation:

| Directory                      | Description                                                                                                                                                                                                                                |
|--------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `/usr/lib/pxf`                 | PXF library location                                                                                                                                                                                                                       |
| `/etc/pxf/conf`                | PXF configuration directory. This directory contains the `pxf-public.classpath` and `pxf-private.classpath` configuration files. See [Setting up the Java Classpath](ConfigurePXF.html#settingupthejavaclasspath). |
| `/var/pxf/pxf-service`         | PXF service instance location                                                                                                                                                                                                              |
| `/var/log/pxf/pxf-service.log` | This directory includes `pxf-service.log` and all Tomcat-related logs including catalina.out. Logs are owned by user/group pxf:pxf. Other users have read access.                                                                          |
| `/var/run/pxf/catalina.pid`    | PXF Tomcat container PID location                                                                                                                                                                                                          |


