---
title: Using Languages and Extensions in HAWQ
---

HAWQ supports user-defined functions created with the SQL and C built-in languages, including supporting user-defined aliases for internal functions.

HAWQ also allows user-defined functions to be written in languages other than SQL and C. These other languages are generically called *procedural languages* (PLs).

For a function written in a procedural language, the database server has no built-in knowledge about how to interpret the function's source text. Instead, the task is passed to a special handler that knows the details of the language. The handler could either do all the work of parsing, syntax analysis, execution, and so on itself, or it could serve as "glue" between HAWQ and an existing implementation of a programming language. The handler itself is a C language function compiled into a shared object and loaded on demand, just like any other C function.

This chapter describes the following:

-   <a href="builtin_langs.html">Using HAWQ Built-In Languages</a>
-   <a href="using_pljava.html">Using PL/Java</a>
-   <a href="using_plperl.html">Using PL/Perl</a>
-   <a href="using_plpgsql.html">Using PL/pgSQL</a>
-   <a href="using_plpython.html">Using PL/Python</a>
-   <a href="using_plr.html">Using PL/R</a>
-   <a href="using_pgcrypto.html">Using pgcrypto</a>




