---
Setting Up the Ranger Access Manager
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

## <a id="rps"></a>Ranger Plugin Service

The Ranger Plugin Service (RPS) is a RESTFul service that provides integration between Apache HAWQ (incubating) and Apache Ranger. Initializing Ranger allows its policy engine to manage HAWQ access by retrieving policies from the Ranger Admin Service.

The `hawq_acl_type` configuration parameter allows you to shift between managing access policies through the HAWQ native interface or the Ranger policy manager. When Ranger is enabled, you cannot manage HAWQ access  through its native interface. After enabling HAWQ Ranger, you must specifically grant access by setting up policies on Ranger, as Ranger has no knowledge of any policies that might have been set up in the HAWQ native interface. 

Once Ranger is enabled, it will manage HCatalog access rather than keeping it open inside HAWQ. Hence, when you see HCatalog queries in HAWQ, route them to rps by parsing the resource namespace as Database=HCatalog > Schema > Table.

PXF external tables are managed by HAWQ, and can also be managed in Ranger mode. All Hive APIs are called as superuser = PXF on the cluster. In Ranger-managed Hive, user PXF will need full access.

## <a id="installrequirements"></a>Requirements for Ranger Installation

The following are prerequisites for installing and initializing the Ranger plug-in on HAWQ and enabling the Ranger Access Manager.


- Configured HAWQ environment
- Running server where Ranger service will be installed
- Apache Tomcat 7/CATALINA


## <a id="Initial_Setup"></a>Initial Setup

1. As administrator, first install Apache Tomcat and set up the environment: 

```
brew install homebrew/versions/tomcat6
```

2. Set CATALINA_HOME in your Tomcat installation. 

```
Configure CATALINA_HOME: export CATALINA_HOME=/usr/local/Cellar/tomcat6/6.0.x/libexec
```

3. Run 

```
./configure --with-python --with-perl --enable-rps
```

4. Generate the Ranger RPS JAR file `ranger-plugin-admin*.jar` for registering HAWQ with Ranger and creating the Ranger service. A second JAR file is needed to register the RPS WAR service. 

```make -j8```

```make -j8 install```

5. Initialize HAWQ with the ranger option turned off.

```
hawq init cluster
```

6. Copy `ranger-plugin-admin*.jar`  and `postgresql*.jar `  from HAWQ Master to Ranger Admin host. Make sure you are logged in as either root user or the ranger user, as you will need administrative permissions to scp the files to the ranger host. 

```
$ cd /usr/local/hawq/ranger/lib/
$ scp *.jar <ranger-host>:/usr/hdp/current/ranger-admin/ews/webapp/WEB-INF/classes/ranger-plugins/hawq
```

7. Change ownership of the jars on Ranger Admin host:

```
$ cd /usr/hdp/current/ranger-admin/ews/webapp/WEB-INF/classes/ranger-plugins/
$ chown -R ranger:ranger hawq
```

## <a id="enable_ranger"></a>Enabling Ranger 

Run the script `enable-ranger-plugin.sh`  

This will register HAWQ with Ranger and create a link to Ranger in the HAWQ Ambari interface. Registeration and cluster creation with Ranger can take some time to complete. 

When the cluster is fully configured, the system will display the address for the Ambari server. Use this address, including the fully qualified domain name, to log into Ambari in your web browser.
	
**NOTE:** If you are using a different release of Tomcat, you may need to reset CATALINA_HOME. After installing the Ranger plug-in, update `CATALINA_HOME` in `$GPHOME/ranger/etc/rps.properties` for the specific release of CATALINA_HOME. For example, if using the Apache Tomcat 6 platform, use the command;

```
CATALINA_HOME=/usr/local/Cellar/tomcat@6/6.0.45/libexec 
```
and set the value of CATALINA_HOME to use libexe.  

## <a id="config_service"></a>Start and Configure Ranger Service

Log into the HAWQ Ambari interface. You will use Ambari to access the Ranger Access Manager to perform further configuration.  Use the Ranger link in the left nav to bring up the Ranger Summary pane in the HAWQ Ambari interface. Use the Quick Links to access Ranger. This link will take you to the Ranger Login interface. 

Log into the Ranger Access Manager.

Define the HAWQ Service instance in Ranger Access Manager by adding an entry for Ranger server access in pg_hba.conf of HAWQ master. 

Define the Ranger parameter settings (where on the Ranger Access Manager?)  

- RPS host/port   
- hawq_rps_address_host
- hawq_rps_address_suffix
- hawq_rps_address_port 

Define Ranger policy in Ranger UI.
See [Creating HAWQ Authorization Policies in Ranger](ranger-policy-creation.html)

