---
title: Configuring HAWQ to use Ranger Policy Management
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
## <a id="enable"></a>Enabling Ranger Policy Management

1. <register the JAR file with ranger>
1. Access the Ambari interface for you cluster.
2. Select the **HAWQ** Service, and then select the **Configs** tab.
3. Select the **Advanced** tab, and then expand **Custom hawq-site**.
4. Add or edit the `hawq_acl_type` property. Change its value from `standalone` (the default) to `ranger`.
5. Click **Save** to save your changes.
6. Click **Restart** and confirm that you want to restart the HAWQ cluster.

## <a id="caching"></a>Changing the Frequency of Policy Caching
