---
title: DROP TYPE
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

Removes a data type.

## <a id="topic1__section2"></a>Synopsis

``` pre
DROP TYPE [IF EXISTS] <name> [, ...] [CASCADE | RESTRICT]
```

## <a id="topic1__section3"></a>Description

`DROP TYPE` will remove a user-defined data type. Only the owner of a type can remove it.

## <a id="topic1__section4"></a>Parameters

<dt>IF EXISTS  </dt>
<dd>Do not throw an error if the type does not exist. A notice is issued in this case.</dd>

<dt>\<name\>  </dt>
<dd>The name (optionally schema-qualified) of the data type to remove.</dd>

<dt>CASCADE  </dt>
<dd>Automatically drop objects that depend on the type (such as table columns, functions, operators).</dd>

<dt>RESTRICT  </dt>
<dd>Refuse to drop the type if any objects depend on it. This is the default.</dd>

## <a id="topic1__section5"></a>Examples

Remove the data type `box`;

``` pre
DROP TYPE box;
```

## <a id="topic1__section6"></a>Compatibility

This command is similar to the corresponding command in the SQL standard, apart from the `IF EXISTS` option, which is a HAWQ extension. But note that the `CREATE TYPE` command and the data type extension mechanisms in HAWQ differ from the SQL standard.

## <a id="topic1__section7"></a>See Also

[ALTER TYPE](ALTER-TYPE.html), [CREATE TYPE](CREATE-TYPE.html)
