---
title: DROP AGGREGATE
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

Removes an aggregate function.

## <a id="topic1__section2"></a>Synopsis

``` pre
DROP AGGREGATE [IF EXISTS] <name> ( <type> [, ...] ) [CASCADE | RESTRICT]
```

## <a id="topic1__section3"></a>Description

`DROP AGGREGATE` will delete an existing aggregate function. To execute this command the current user must be the owner of the aggregate function.

## <a id="topic1__section4"></a>Parameters

<dt>IF EXISTS  </dt>
<dd>Do not throw an error if the aggregate does not exist. A notice is issued in this case.</dd>

<dt>\<name\>   </dt>
<dd>The name (optionally schema-qualified) of an existing aggregate function.</dd>

<dt>\<type\>   </dt>
<dd>An input data type on which the aggregate function operates. To reference a zero-argument aggregate function, write `*` in place of the list of input data types.</dd>

<dt>CASCADE  </dt>
<dd>Automatically drop objects that depend on the aggregate function.</dd>

<dt>RESTRICT  </dt>
<dd>Refuse to drop the aggregate function if any objects depend on it. This is the default.</dd>

## <a id="topic1__section5"></a>Examples

To remove the aggregate function `myavg` for type `integer`:

``` pre
DROP AGGREGATE myavg(integer);
```

## <a id="topic1__section6"></a>Compatibility

There is no `DROP AGGREGATE` statement in the SQL standard.

## <a id="topic1__section7"></a>See Also

[ALTER AGGREGATE](ALTER-AGGREGATE.html), [CREATE AGGREGATE](CREATE-AGGREGATE.html)
