---
title: SHOW
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

Shows the value of a system configuration parameter.

## <a id="topic1__section2"></a>Synopsis

``` pre
SHOW <configuration_parameter>

SHOW ALL
```

## <a id="topic1__section3"></a>Description

`SHOW` displays the current settings of HAWQ system configuration parameters. These parameters can be set using the `SET` statement, or by editing the `hawq-site.xml` configuration file of the HAWQ master. Note that some parameters viewable by `SHOW` are read-only — their values can be viewed but not set. See [About Server Configuration Parameters](../guc/guc_config.html#topic1).

## <a id="topic1__section4"></a>Parameters

<dt> \<configuration\_parameter\>   </dt>
<dd>The name of a system configuration parameter.</dd>

<dt>ALL  </dt>
<dd>Shows the current value of all configuration parameters.</dd>

## <a id="topic1__section5"></a>Examples

Show the current setting of the parameter `search_path`:

``` sql
SHOW search_path;
```

Show the current setting of all parameters:

``` sql
SHOW ALL;
```

## <a id="topic1__section6"></a>Compatibility

`SHOW` is a HAWQ extension.

## <a id="topic1__section7"></a>See Also

[SET](SET.html), [RESET](RESET.html)
