---
title: Using PL/Perl
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

This section contains an overview of the HAWQ PL/Perl language extension.

## <a id="enableplperl"></a>Enabling PL/Perl

If PL/Perl is enabled during HAWQ build time, HAWQ installs the PL/Perl language extension automatically. To use PL/Perl, you must enable it on specific databases.

On every database where you want to enable PL/Perl, connect to the database using the psql client.

``` shell
$ psql -d <dbname>
```

Replace \<dbname\> with the name of the target database.

Then, run the following SQL command:

``` shell
psql# CREATE LANGUAGE plperl;
```

## <a id="references"></a>References 

For more information on using PL/Perl, see the PostgreSQL PL/Perl documentation at [https://www.postgresql.org/docs/8.2/static/plperl.html](https://www.postgresql.org/docs/8.2/static/plperl.html).