---
title: Using Languages and Extensions in HAWQ
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

HAWQ supports user-defined functions that are created with the SQL and C built-in languages, and also supports user-defined aliases for internal functions.

HAWQ also supports user-defined functions written in languages other than SQL and C. These other languages are generically called *procedural languages* (PLs) and are extensions to the core HAWQ functionality. HAWQ specifically supports the PL/Java, PL/Perl, PL/pgSQL, PL/Python, and PL/R procedural languages. 

HAWQ additionally provides the `pgcrypto` extension for password hashing and data encryption.

This chapter describes these languages and extensions:

-   <a href="builtin_langs.html">Using HAWQ Built-In Languages</a>
-   <a href="using_pljava.html">Using PL/Java</a>
-   <a href="using_plperl.html">Using PL/Perl</a>
-   <a href="using_plpgsql.html">Using PL/pgSQL</a>
-   <a href="using_plpython.html">Using PL/Python</a>
-   <a href="using_plr.html">Using PL/R</a>
-   <a href="using_pgcrypto.html">Using pgcrypto</a>




