---
title: HAWQ for Administrators
---


## <a id="tut_getstartov"></a>Overview

These exercises present typical and advanced HAWQ cluster operation and administration activities.


## <a id="tut_getstartov_prereq"></a>Prerequisites

Ensure that you have a running HAWQ installation and that you have downloaded the tutorial work files, including the Retail example data set and HAWQ scripts.

## <a id="tut_hawqexlist"></a>Exercises 

Administration exercises include:

LIST
HERE    
 
