---
title: HAWQ for Data Scientists
---


## <a id="tut_getstartov"></a>Overview

HAWQ provides advanced analytic capabilities for data scientists including X, Y, Z.


## <a id="tut_getstartov_prereq"></a>Prerequisites

Ensure that you have a running HAWQ installation and that you have downloaded the tutorial work files, including the Retail example data set and HAWQ scripts.

## <a id="tut_hawqexlist"></a>Exercises 

Analytics exercises include:

LIST
HERE    
 
