---
title: ABORT
---

Aborts the current transaction.

## <a id="synop"></a>Synopsis

```pre
ABORT [ WORK | TRANSACTION ]
```

## <a id="abort__section3"></a>Description

`ABORT` rolls back the current transaction and causes all the updates made by the transaction to be discarded. This command is identical in behavior to the standard SQL command `ROLLBACK`, and is present only for historical reasons.

## <a id="abort__section4"></a>Parameters

WORK  
TRANSACTION  
Optional key words. They have no effect.

## <a id="abort__section5"></a>Notes

Use `COMMIT` to successfully terminate a transaction.

Issuing `ABORT` when not inside a transaction does no harm, but it will provoke a warning message.

## <a id="compat"></a>Compatibility

This command is a HAWQ extension present for historical reasons. ROLLBACK is the equivalent standard SQL command.

## <a id="see"></a>See Also

[BEGIN](BEGIN.html), [COMMIT](COMMIT.html), [ROLLBACK](ROLLBACK.html)


