---
title: ALTER OPERATOR CLASS
---

Changes the definition of an operator class.

## Synopsis<a id="synop"></a>

``` pre
ALTER OPERATOR CLASS name USING index_method RENAME TO newname

ALTER OPERATOR CLASS name USING index_method OWNER TO newowner
         
```

## Description<a id="desc"></a>

`ALTER OPERATOR CLASS` changes the definition of an operator class. 

You must own the operator class to use `ALTER OPERATOR CLASS`. To alter the owner, you must also be a direct or indirect member of the new owning role, and that role must have `CREATE` privilege on the operator class’s schema. (These restrictions enforce that altering the owner does not do anything you could not do by dropping and recreating the operator class. However, a superuser can alter ownership of any operator class anyway.)

## Parameters<a id="alteroperatorclass__section4"></a>

 *name*   
The name (optionally schema-qualified) of an existing operator class.

 *index\_method*   
The name of the index method this operator class is for.

 *newname*   
The new name of the operator class.

 *newowner*   
The new owner of the operator class

## Compatibility<a id="compat"></a>

There is no `ALTER OPERATOR` statement in the SQL standard.

## See Also<a id="see"></a>

[CREATE OPERATOR](CREATE-OPERATOR.html), [DROP OPERATOR CLASS](DROP-OPERATOR-CLASS.html)


