---
title: CLOSE
---

Closes a cursor.

## Synopsis<a id="topic1__section2"></a>

``` pre
CLOSE cursor_name
         
```

## Description<a id="topic1__section3"></a>

`CLOSE` frees the resources associated with an open cursor. After the cursor is closed, no subsequent operations are allowed on it. A cursor should be closed when it is no longer needed.

Every non-holdable open cursor is implicitly closed when a transaction is terminated by `COMMIT` or `ROLLBACK`. A holdable cursor is implicitly closed if the transaction that created it aborts via `ROLLBACK`. If the creating transaction successfully commits, the holdable cursor remains open until an explicit `CLOSE` is executed, or the client disconnects.

## Parameters<a id="topic1__section4"></a>

 *cursor\_name*   
The name of an open cursor to close.

## Notes<a id="topic1__section5"></a>

HAWQ does not have an explicit `OPEN` cursor statement. A cursor is considered open when it is declared. Use the `DECLARE` statement to declare (and open) a cursor.

You can see all available cursors by querying the `pg_cursors` system view.

## Examples<a id="topic1__section6"></a>

Close the cursor `portala`:

``` pre
CLOSE portala;
```

## Compatibility<a id="topic1__section7"></a>

`CLOSE` is fully conforming with the SQL standard.

## See Also<a id="topic1__section8"></a>

/3/4, /3/4
