---
title: COMMIT
---

Commits the current transaction.

## Synopsis<a id="topic1__section2"></a>

``` pre
COMMIT [WORK | TRANSACTION]
```

## Description<a id="topic1__section3"></a>

`COMMIT` commits the current transaction. All changes made by the transaction become visible to others and are guaranteed to be durable if a crash occurs.

## Parameters<a id="topic1__section4"></a>

WORK, 
TRANSACTION  
Optional key words. They have no effect.

## Notes<a id="topic1__section5"></a>

Use [ROLLBACK](ROLLBACK.html) to abort a transaction.

Issuing `COMMIT` when not inside a transaction does no harm, but it will provoke a warning message.

## Examples<a id="topic1__section6"></a>

To commit the current transaction and make all changes permanent:

``` pre
COMMIT;
```

## Compatibility<a id="topic1__section7"></a>

The SQL standard only specifies the two forms `COMMIT` and `COMMIT           WORK`. Otherwise, this command is fully conforming.

## See Also<a id="topic1__section8"></a>

[BEGIN](BEGIN.html), [END](END.html), [ROLLBACK](ROLLBACK.html)
