---
title: CREATE USER
---

Defines a new database role with the `LOGIN` privilege by default.

## <a id="topic1__section2"></a>Synopsis

``` pre
CREATE USER <name> [ [WITH] <option> [ ... ] ]
```

where \<option\> can be:

``` pre
      SUPERUSER | NOSUPERUSER
    | CREATEDB | NOCREATEDB
    | CREATEROLE | NOCREATEROLE
    | CREATEUSER | NOCREATEUSER
    | INHERIT | NOINHERIT
    | LOGIN | NOLOGIN
    | [ ENCRYPTED | UNENCRYPTED ] PASSWORD '<password>'
    | VALID UNTIL '<timestamp>'
    | IN ROLE <rolename> [, ...]
    | IN GROUP <rolename> [, ...]
    | ROLE <rolename> [, ...]
    | ADMIN <rolename> [, ...]
    | USER <rolename> [, ...]
    | SYSID <uid>
    | RESOURCE QUEUE <queue_name>

```

## <a id="topic1__section3"></a>Description

HAWQ does not support `CREATE USER`. This command has been replaced by [CREATE ROLE](CREATE-ROLE.html).

The only difference between `CREATE ROLE` and `CREATE                     USER` is that `LOGIN` is assumed by default with `CREATE USER`, whereas `NOLOGIN` is assumed by default with `CREATE ROLE`.

## <a id="topic1__section4"></a>Compatibility

There is no `CREATE USER` statement in the SQL standard.

## <a id="topic1__section5"></a>See Also

[CREATE ROLE](CREATE-ROLE.html)
