---
title: DROP OPERATOR CLASS
---

Removes an operator class.

## <a id="topic1__section2"></a>Synopsis

``` pre
DROP OPERATOR CLASS [IF EXISTS] name USING index_method [CASCADE | RESTRICT]
```

## <a id="topic1__section3"></a>Description

`DROP OPERATOR` drops an existing operator class. To execute this command you must be the owner of the operator class.

## <a id="topic1__section4"></a>Parameters

IF EXISTS  
Do not throw an error if the operator class does not exist. A notice is issued in this case.

 *name*   
The name (optionally schema-qualified) of an existing operator class.

 *index\_method*   
The name of the index access method the operator class is for.

CASCADE  
Automatically drop objects that depend on the operator class.

RESTRICT  
Refuse to drop the operator class if any objects depend on it. This is the default.

## Notes

This command will not succeed if there are any existing indexes that use the operator class. Add `CASCADE` to drop such indexes along with the operator class.

## <a id="topic1__section5"></a>Examples

Remove the B-tree operator class `widget_ops`:

``` pre
DROP OPERATOR CLASS widget_ops USING btree;
```

This command will not succeed if there are any existing indexes that use the operator class. Add `CASCADE` to drop such indexes along with the operator class.

## <a id="topic1__section6"></a>Compatibility

There is no `DROP OPERATOR CLASS` statement in the SQL standard.

## <a id="topic1__section7"></a>See Also

[ALTER OPERATOR](ALTER-OPERATOR.html), [CREATE OPERATOR](CREATE-OPERATOR.html) [CREATE OPERATOR CLASS](CREATE-OPERATOR-CLASS.html)
