---
title: DROP SCHEMA
---

Removes a schema.

## Synopsis<a id="topic1__section2"></a>

``` pre
DROP SCHEMA [IF EXISTS] name [, ...] [CASCADE | RESTRICT]
```

## Description<a id="topic1__section3"></a>

`DROP SCHEMA` removes schemas from the database. A schema can only be dropped by its owner or a superuser. Note that the owner can drop the schema (and thereby all contained objects) even if he does not own some of the objects within the schema.

## Parameters<a id="topic1__section4"></a>

IF EXISTS  
Do not throw an error if the schema does not exist. A notice is issued in this case.

 *name*   
The name of the schema to remove.

CASCADE  
Automatically drops any objects contained in the schema (tables, functions, etc.).

RESTRICT  
Refuse to drop the schema if it contains any objects. This is the default.

## Examples<a id="topic1__section5"></a>

Remove the schema `mystuff` from the database, along with everything it contains:

``` pre
DROP SCHEMA mystuff CASCADE;
```

## Compatibility<a id="topic1__section6"></a>

`DROP SCHEMA` is fully conforming with the SQL standard, except that the standard only allows one schema to be dropped per command. Also, the `IF           EXISTS` option is a HAWQ extension.

## See Also<a id="topic1__section7"></a>

[CREATE SCHEMA](CREATE-SCHEMA.html)
