---
title: DROP TYPE
---

Removes a data type.

## Synopsis<a id="topic1__section2"></a>

``` pre
DROP TYPE [IF EXISTS] name [, ...] [CASCADE | RESTRICT]
```

## Description<a id="topic1__section3"></a>

`DROP TYPE` will remove a user-defined data type. Only the owner of a type can remove it.

## Parameters<a id="topic1__section4"></a>

IF EXISTS  
Do not throw an error if the type does not exist. A notice is issued in this case.

 *name*   
The name (optionally schema-qualified) of the data type to remove.

CASCADE  
Automatically drop objects that depend on the type (such as table columns, functions, operators).

RESTRICT  
Refuse to drop the type if any objects depend on it. This is the default.

## Examples<a id="topic1__section5"></a>

Remove the data type `box`;

``` pre
DROP TYPE box;
```

## Compatibility<a id="topic1__section6"></a>

This command is similar to the corresponding command in the SQL standard, apart from the `IF EXISTS` option, which is a HAWQ extension. But note that the `CREATE TYPE` command and the data type extension mechanisms in HAWQ differ from the SQL standard.

## See Also<a id="topic1__section7"></a>

/3/4, /3/4
