---
title: DROP RESOURCE QUEUE
---

Removes a resource queue.

## Synopsis<a id="topic1__section2"></a>

``` pre
DROP RESOURCE QUEUE queue_name
         
```

## Description<a id="topic1__section3"></a>

This command removes a resource queue from HAWQ. To drop a resource queue, the queue cannot have any roles assigned to it, nor can it have any statements waiting in the queue or have any children resource queues. Only a superuser can drop a resource queue.

**Note:** The `pg_root` and `pg_default` resource queues cannot be dropped.

## Parameters<a id="topic1__section4"></a>

 *queue\_name*   
The name of a resource queue to remove.

## Notes<a id="topic1__section5"></a>

Use /3/4 to remove a user from a resource queue.

To see all the currently active queries for all resource queues, perform the following query of the `pg_locks` table joined with the `pg_roles` and `pg_resqueue` tables:

``` pre
SELECT rolname, rsqname, locktype, objid, transaction, pid, 
mode, granted FROM pg_roles, pg_resqueue, pg_locks WHERE 
pg_roles.rolresqueue=pg_locks.objid AND 
pg_locks.objid=pg_resqueue.oid;
```

To see the roles assigned to a resource queue, perform the following query of the `pg_roles` and `pg_resqueue` system catalog tables:

``` pre
SELECT rolname, rsqname FROM pg_roles, pg_resqueue WHERE 
pg_roles.rolresqueue=pg_resqueue.oid;
```

## Examples<a id="topic1__section6"></a>

Remove a role from a resource queue (and move the role to the default resource queue, `pg_default`):

``` pre
ALTER ROLE bob RESOURCE QUEUE NONE;
```

Remove the resource queue named `adhoc`:

``` pre
DROP RESOURCE QUEUE adhoc;
```

## Compatibility<a id="topic1__section7"></a>

The `DROP RESOURCE QUEUE` statement is a HAWQ extension.

## See Also<a id="topic1__section8"></a>

/3/4, /3/4, /3/4
