---
title: DROP OPERATOR
---

Removes an operator.

## Synopsis<a id="topic1__section2"></a>

``` pre
DROP OPERATOR [IF EXISTS] name ( {lefttype | NONE} , 
    {righttype | NONE} ) [CASCADE | RESTRICT]
```

## Description<a id="topic1__section3"></a>

`DROP OPERATOR` drops an existing operator from the database system. To execute this command you must be the owner of the operator.

## Parameters<a id="topic1__section4"></a>

IF EXISTS  
Do not throw an error if the operator does not exist. A notice is issued in this case.

 *name*   
The name (optionally schema-qualified) of an existing operator.

 *lefttype*   
The data type of the operator's left operand; write `NONE` if the operator has no left operand.

 *righttype*   
The data type of the operator's right operand; write `NONE` if the operator has no right operand.

CASCADE  
Automatically drop objects that depend on the operator.

RESTRICT  
Refuse to drop the operator if any objects depend on it. This is the default.

## Examples<a id="topic1__section5"></a>

Remove the power operator `a^b` for type `integer`:

``` pre
DROP OPERATOR ^ (integer, integer);
```

Remove the left unary bitwise complement operator `~b` for type `bit`:

``` pre
DROP OPERATOR ~ (none, bit);
```

Remove the right unary factorial operator `x!` for type `bigint`:

``` pre
DROP OPERATOR ! (bigint, none);
```

## Compatibility<a id="topic1__section6"></a>

There is no `DROP OPERATOR` statement in the SQL standard.

## See Also<a id="topic1__section7"></a>

[ALTER OPERATOR](ALTER-OPERATOR.html), [CREATE OPERATOR](CREATE-OPERATOR.html)
