---
title: SHOW
---

Shows the value of a system configuration parameter.

## Synopsis<a id="topic1__section2"></a>

``` pre
SHOW configuration_parameter

SHOW ALL
```

## Description<a id="topic1__section3"></a>

`SHOW` displays the current settings of HAWQ system configuration parameters. These parameters can be set using the `SET` statement, or by editing the `hawq-site.xml` configuration file of the HAWQ master. Note that some parameters viewable by `SHOW` are read-only — their values can be viewed but not set. See [About Server Configuration Parameters](../guc/guc_config.html#topic1).

## Parameters<a id="topic1__section4"></a>

 *configuration\_parameter*   
The name of a system configuration parameter.

ALL  
Shows the current value of all configuration parameters.

## Examples<a id="topic1__section5"></a>

Show the current setting of the parameter `search_path`:

``` sql
SHOW search_path;
```

Show the current setting of all parameters:

``` sql
SHOW ALL;
```

## Compatibility<a id="topic1__section6"></a>

`SHOW` is a HAWQ extension.

## See Also<a id="topic1__section7"></a>

[SET](SET.html), [RESET](RESET.html)
