---
title: Managing Client Access
---

This section explains how to configure client connections and authentication for HAWQ:

*  <a class="subnav" href="./client_auth.html">Configuring Client Authentication</a>
*  <a class="subnav" href="./ldap.html">Using LDAP Authentication with TLS/SSL</a>
*  <a class="subnav" href="./kerberos.html">Using Kerberos Authentication</a>
*  <a class="subnav" href="./disable-kerberos.html">Disabling Kerberos Security</a>
*  <a class="subnav" href="./roles_privs.html">Managing Roles and Privileges</a>
*  <a class="subnav" href="./g-establishing-a-database-session.html">Establishing a Database Session</a>
*  <a class="subnav" href="./g-supported-client-applications.html">Supported Client Applications</a>
*  <a class="subnav" href="./g-hawq-database-client-applications.html">HAWQ Client Applications</a>
*  <a class="subnav" href="./g-connecting-with-psql.html">Connecting with psql</a>
*  <a class="subnav" href="./g-database-application-interfaces.html">Database Application Interfaces</a>
*  <a class="subnav" href="./g-troubleshooting-connection-problems.html">Troubleshooting Connection Problems</a>
