---
title: gp_distribution_policy
---

The `gp_distribution_policy` table contains information about HAWQ tables and their policy for distributing table data across the segments. This table is populated only on the master. This table is not globally shared, meaning each database has its own copy of this table.

<a id="topic1__ey142842"></a>
<span class="tablecap">Table 1. pg\_catalog.gp\_distribution\_policy</span>

| column      | type         | references           | description                                                                                                                                                                                                   |
|-------------|--------------|----------------------|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `localoid`  | oid          | pg\_class.oid        | The table object identifier (OID).                                                                                                                                                                            |
| `attrnums`  | smallint\[\] | pg\_attribute.attnum | The column number(s) of the distribution column(s).                                                                                                                                                           |
| `bucketnum` | integer      |                      | Number of hash buckets used in creating a hash-distributed table or for external table intermediate processing. The number of buckets also affects how many virtual segment are created when processing data. |




