---
title: gp_global_sequence
---

The `gp_global_sequence` table contains the log sequence number position in the transaction log. This table is used by persistent tables.

<a id="topic1__fe138428"></a>
<span class="tablecap">Table 1. pg\_catalog.gp\_global\_sequence</span>

| column         | type   | references | description                                         |
|----------------|--------|------------|-----------------------------------------------------|
| `sequence_num` | bigint |            | Log sequence number position in the transaction log |

>


