---
title: gp_relfile_node
---

The `gp_relfile_node` table contains information about the file system objects for a relation (table, view, index, and so on).

<a id="topic1__fo138428"></a>

| column                  | type    | references            | description                                                                          |
|-------------------------|---------|-----------------------|--------------------------------------------------------------------------------------|
| `relfilenode_oid`       | oid     | pg\_class.relfilenode | The object id of the relation file node.                                             |
| `segment_file_num`      | integer |                       | For append-only tables, the append-only segment file number.                         |
| `persistent_tid`        | tid     |                       | Used by HAWQ to internally manage persistent representations of file system objects. |
| `persistent_serial_num` | bigint  |                       | Log sequence number position in the transaction log for a file block.                |

: <span class="tablecap">Table 1. pg\_catalog.gp\_relation\_node</span>


