---
title: pg\_attribute_encoding
---

The `pg_attribute_encoding` system catalog table contains column storage information.

<a id="topic1__gb177839"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_attribute\_encoding</span>

| column       | type       | modifers | storage  | description                            |
|--------------|------------|----------|----------|----------------------------------------|
| `attrelid`   | oid        | not null | plain    | Foreign key to `pg_attribute.attrelid` |
| `attnum`     | smallint   | not null | plain    | Foreign key to `pg_attribute.attnum`   |
| `attoptions` | text \[ \] |          | extended | The options                            |




