---
title: pg_amop
---

The `pg_amop` table stores information about operators associated with index access method operator classes. There is one row for each operator that is a member of an operator class.

<a id="topic1__fw143542"></a>

| column         | type     | references       | description                                                                |
|----------------|----------|------------------|----------------------------------------------------------------------------|
| `amopclaid`    | oid      | pg\_opclass.oid  | The index operator class this entry is for                                 |
| `amopsubtype`  | oid      | pg\_type.oid     | Subtype to distinguish multiple entries for one strategy; zero for default |
| `amopstrategy` | smallint |                  | Operator strategy number                                                   |
| `amopreqcheck` | boolean  |                  | Index hit must be rechecked                                                |
| `amopopr`      | oid      | pg\_operator.oid | OID of the operator                                                        |

: <span class="tablecap">Table 1. pg\_catalog.pg\_amop</span>


