---
title: pg_amproc
---

The `pg_amproc` table stores information about support procedures associated with index access method operator classes. There is one row for each support procedure belonging to an operator class.

<a id="topic1__fx143898"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_amproc</span>

| column          | type    | references      | description                                |
|-----------------|---------|-----------------|--------------------------------------------|
| `amopclaid`     | oid     | pg\_opclass.oid | The index operator class this entry is for |
| `amprocsubtype` | oid     | pg\_type.oid    | Subtype, if cross-type routine, else zero  |
| `amprocnum`     | int2    |                 | Support procedure number                   |
| `amproc`        | regproc | pg\_proc.oid    | OID of the procedure                       |




