---
title: pg_filespace
---

The `pg_filespace` table contains information about the filespaces created in a HAWQ system. Every system contains a default filespace, `pg_system`, which is a collection of all the data directory locations created at system initialization time.

A tablespace requires a file system location to store its database files. In HAWQ, the master and each segment needs its own distinct storage location. This collection of file system locations for all components in a HAWQ system is referred to as a filespace.

<a id="topic1__go138428"></a>

| column    | type | references    | description                                           |
|-----------|------|---------------|-------------------------------------------------------|
| `fsname`  | name |               | The name of the filespace.                            |
| `fsowner` | oid  | pg\_roles.oid | The object id of the role that created the filespace. |

: <span class="tablecap">Table 1. pg\_catalog.pg\_filespace</span>


