---
title: pg_rewrite
---

The `pg_rewrite` system catalog table stores rewrite rules for tables and views. `pg_class.relhasrules` must be true if a table has any rules in this catalog.

<a id="topic1__hm149830"></a>
<span class="tablecap">Table 1. pg\_catalog.pg\_rewrite</span>

| column       | type     | references    | description                                                                                             |
|--------------|----------|---------------|---------------------------------------------------------------------------------------------------------|
| `rulename`   | name     |               | Rule name.                                                                                              |
| `ev_class`   | oid      | pg\_class.oid | The table this rule is for.                                                                             |
| `ev_attr`    | smallint |               | The column this rule is for (currently, always zero to indicate the whole table).                       |
| `ev_type `   | char     |               | Event type that the rule is for: 1 = SELECT, 2 = UPDATE, 3 = INSERT, 4 = DELETE.                        |
| `is_instead` | boolean  |               | True if the rule is an INSTEAD rule.                                                                    |
| `ev_qual`    | text     |               | Expression tree (in the form of a `nodeToString()` representation) for the rule's qualifying condition. |
| `ev_action`  | text     |               | Query tree (in the form of a `nodeToString()` representation) for the rule's action.                    |

<span class="tablecap">Table 1. pg\_catalog.pg\_rewrite</span>


