---
title: pg_type_encoding
---

The `pg_type_encoding` system catalog table contains the column storage type information.

<a id="topic1__ia177831"></a>
span class="tablecap">Table 1. pg\_catalog.pg\_type\_encoding</span>

| column       | type       | modifers | storage  | description                                                                      |
|--------------|------------|----------|----------|----------------------------------------------------------------------------------|
| `typeid`     | oid        | not null | plain    | Foreign key to [pg\_attribute](pg_attribute.html#topic1) |
| `typoptions` | text \[ \] |          | extended | The actual options                                                               |

<span class="tablecap">Table 1. pg\_catalog.pg\_type\_encoding</span>


