---
title: hawq state
---

Shows the status of a running HAWQ system.

## <a id="topic1__section2"></a>Synopsis

``` pre
hawq state [-b] [-l logfile_directory] [-v | -q] 
          [-d master_data_directory | --datadir=MASTER\_DIR] [--hawqhome]
hawq state -? | -h | --help
```

## <a id="topic1__section3"></a>Description

The `hawq state` utility displays information about a running HAWQ instance. A HAWQ system is comprised of multiple PostgreSQL database instances (segments) spanning multiple machines, and the `hawq state` utility can provide additional status information, such as:

-   Total segment count.
-   Which segments are down.
-   Master and segment configuration information (hosts, data directories, etc.).
-   The ports used by the system.
-   Whether a standby master is present, and if it is active.

## <a id="topic1__section4"></a>Options

-b (brief status)  
Optional. Display a brief summary of the state of the HAWQ system. This is the default option.

-d *master\_data\_directory* | -\\\-datadir=MASTER\_DIR  
Status of the master data directory. If not specified, the value set for `$MASTER_DATA_DIRECTORY` will be used.

-\\\-hawqhome=HAWQ\_HOME  
Display details of the designated home data directory (usually $GPHOME).

-l *logfile\_directory*  
Displays calls to the log file. Defaults to `~/hawq/AdminLogs`.

-q (no screen output)  
Optional. Run in quiet mode. Except for warning messages, command output is not displayed on the screen. However, this information is still written to the log file.

-v (verbose output)  
Optional. Displays error messages and outputs detailed status and progress information.

-? | -h | -\\\-help (help)  
Displays the online help.

## <a id="topic1__section6"></a>Examples

Show brief status information of a HAWQ system:

``` shell
$ hawq state -b
```

## <a id="topic1__section7"></a>See Also

[hawq start](hawqstart.html#topic1), [gplogfilter](gplogfilter.html#topic1)
