---
title: HAWQ Database Drivers and APIs
---

You may want to deploy your existing Business Intelligence (BI) or Analytics applications with HAWQ. The database application programming interfaces most commonly used with HAWQ are the ODBC and JDBC APIs.

HAWQ provides the following connectivity tools for connecting to the HAWQ database:

  - ODBC driver
  - JDBC driver
  - `libpq` - PostgreSQL C API

## <a id="dbdriver"></a>HAWQ Drivers

ODBC and JDBC drivers for HAWQ are available as a separate download from Pivotal Network [Pivotal Network](https://network.pivotal.io/products/pivotal-hdb).

### <a id="odbc_driver"></a>ODBC Driver

The ODBC API specifies a standard set of C interfaces for accessing database management systems.  For additional information on using the ODBC API, refer to the [ODBC Programmer's Reference](https://msdn.microsoft.com/en-us/library/ms714177(v=vs.85).aspx) documentation.

HAWQ supports the DataDirect ODBC Driver. Installation instructions for this driver are provided on the Pivotal Network download page.

### <a id="jdbc_driver"></a>JDBC Driver
The JDBC API specifies a standard set of Java interfaces to SQL-compliant databases. For additional information on using the JDBC JDBC API with PostgreSQL drivers, refer to [The PostgreSQL JDBC Interface](https://jdbc.postgresql.org/documentation/82/index.html) documentation.

HAWQ supports the DataDirect JDBC Driver. Installation instructions for this driver are provided on the Pivotal Network download page.


## <a id="libpq_api"></a>libpq API
`libpq` is the C API to PostgreSQL/HAWQ. This API provides a set of library functions enabling client programs to pass queries to the PostgreSQL backend server and to receive the results of those queries.

`libpq` is included in your HAWQ distribution.

For additional information on using the `libpq` API, refer to [libpq - C Library](https://www.postgresql.org/docs/8.2/static/libpq.html) in the PostgreSQL documentation.

