---
title: Managing Resources
---

This section describes how to use HAWQ's resource management features:

*  <a class="subnav" href="./HAWQResourceManagement.html">How HAWQ Manages Resources</a>
*  <a class="subnav" href="./best-practices.html">Best Practices for Configuring Resource Management</a>
*  <a class="subnav" href="./ConfigureResourceManagement.html">Configuring Resource Management</a>
*  <a class="subnav" href="./YARNIntegration.html">Integrating YARN with HAWQ</a>
*  <a class="subnav" href="./ResourceQueues.html">Working with Hierarchical Resource Queues</a>
*  <a class="subnav" href="./ResourceManagerStatus.html">Analyzing Resource Manager Status</a>
