---
title: Installing Pivotal HDB
---

This section describes how to install Pivotal HDB 2.0 using either the Ambari graphical management tool, or using command-line utilities. It contains the procedures:

*  <a href="./select-hosts.html" class="subnav">Selecting HAWQ Host Machines</a>
*  <a href="./install-ambari.html" class="subnav">Installing HAWQ Using Ambari</a>
*  <a href="./install-cli.html" class="subnav">Install HAWQ from the Command-Line (Optional)</a>.

**Note:** Use the same installation method (Ambari or CLI) that you used to install the HDP cluster.
