---
title: Client-Based HAWQ Load Tools
---
HAWQ supports data loading from Red Hat Enterprise Linux 5, 6, and 7 and Windows XP client systems. HAWQ Load Tools include both a loader program and a parallel file distribution program.

This topic presents the instructions to install the HAWQ Load Tools on your client machine. It also includes the information necessary to configure HAWQ databases to accept remote client connections.

## <a id="installloadrunrhel"></a>RHEL Load Tools
### <a id="installloadrunux"></a>Running the RHEL Installer

1. Download the `greenplum-loaders-4.3.x.x-build-n-RHEL5.zip` installer package from [Pivotal Network](https://network.pivotal.io/products/pivotal-gpdb). Make note of the directory to which the file was downloaded.
 
2. Unzip the run the installer. `sudo` privileges are required if you plan to accept the default install location of `/usr/local/greenplum-loaders-4.3.x.x-build-n`.

    ``` shell
    $ unzip greenplum-loaders-4.3.x.x-build-n-RHEL5-x86_64.zip
    $ /bin/bash greenplum-loaders-4.3.x.x-build-n-RHEL5-x86_64.bin
    ```
    
    The installer will prompt you to accept the license agreement and to provide an installation path. Enter an absolute path if you choose not to accept the default install location.


## <a id="installloadrunwin"></a>Windows Load Tools

### <a id="installpythonwin"></a>Installing Python 2.5
The HAWQ Load Tools for Windows requires that the 32-bit version of Python 2.5 be installed on your machine. 

**Note**: The 64-bit version of Python is not compatible with the HAWQ Load Tools for Windows.

1. Download the [Python 2.5 installer for Windows](https://www.python.org/downloads/).  Make note of the directory to which it was downloaded.

2. Double-click on the `python Load Tools for Windows-2.5.x.msi` package to launch the installer.
3. Select **Install for all users** and click **Next**.
4. The default Python install location is `C:\Pythonxx`. Click **Up** or **New** to choose another location. Click **Next**.
5. Click **Next** to install the selected Python components.
6. Click **Finish** to complete the Python installation.


### <a id="installloadrunwin"></a>Running the Windows Installer

1. Download the `greenplum-loaders-4.3.x.x-build-n-WinXP-x86_32.msi` installer package from [Pivotal Network](https://network.pivotal.io/products/pivotal-gpdb). Make note of the directory to which it was downloaded.
 
2. Double-click the `greenplum-loaders-4.3.x.x-build-n-WinXP-x86_32.msi` file to launch the installer.
3. Click **Next** on the **Welcome** screen.
4. Click **I Agree** on the **License Agreement** screen.
5. The default install location for HAWQ Loader Tools for Windows is `C:\"Program Files (x86)"\Greenplum\greenplum-loaders-4.3.8.1-build-1`. Click **Browse** to choose another location.
6. Click **Next**.
7. Click **Install** to begin the installation.
8. Click **Finish** to exit the installer.

    
## <a id="installloadabout"></a>About the Loader Installation
Your HAWQ Load Tools installation includes the following files and directories:

`bin` — data loading command-line tools (`gpfdist` and `gpload`)  
`ext` — external dependent components (python)  
`lib` - data loading library files  
`greenplum_loaders_path.[sh | bat]` — environment set up file



## <a id="installloadcfgenv"></a>Configuring the Load Environment

?? NEED TO VERIFY RHEL/WIN HAVE SAME env varb NAMES ??

A `greenplum_loaders_path.[sh | bat]` file is provided in your load tools base install directory following installation. This file sets the following environment variables:

- `GPHOME_LOADERS` - base directory of loader installation
- `PATH` - adds the loader and component program directories
- *`LIBRARY_PATH`* (OS-specific name) - adds the loader and component library directories

Source `greenplum_loaders.sh` or execute `greenplum_loaders.bat` to set up your HAWQ environment before running the HAWQ Load Tools.
 

## <a id="installloadenableclientconn"></a>Enabling Remote Client Connections
The HAWQ master database must be configured to accept remote client connections.  Specifically, you need to identify the client hosts and database users that will be connecting to the HAWQ database.

1. Ensure that the HAWQ database master `pg_hba.conf` file is correctly configured to allow connections from the desired users operating on the desired database from the desired hosts, using the authentication method you choose. For details, see [Configuring Client Access](../../clientaccess/client_auth.html#topic2).

    Make sure the authentication method you choose is supported by the client tool you are using.
    
2. If you edited the `pg_hba.conf` file, reload the server configuration:

    ``` shell
    $ hawq stop -u
    ```

3. Verify and/or configure the databases and roles you are using to connect, and that the roles have the correct privileges to the database objects.