---
title: Determine the Transformation Schema
---

To prepare for the transformation project:

1.  <span class="ph">Determine the goal of the project, such as indexing data, analyzing data, combining data, and so on.</span>
2.  <span class="ph">Examine the XML file and note the file structure and element names. </span>
3.  <span class="ph">Choose the elements to import and decide if any other limits are appropriate. </span>

For example, the following XML file, *prices.xml*, is a simple, short file that contains price records. Each price record contains two fields: an item number and a price.

``` pre
<?xml version="1.0" encoding="ISO-8859-1" ?>
<prices>
  <pricerecord>
    <itemnumber>708421</itemnumber>
    <price>19.99</price>
  </pricerecord>
  <pricerecord>
    <itemnumber>708466</itemnumber>
    <price>59.25</price>
  </pricerecord>
  <pricerecord>
    <itemnumber>711121</itemnumber>
    <price>24.99</price>
  </pricerecord>
</prices>
```

The goal is to import all the data into a HAWQ table with an integer `itemnumber` column and a decimal `price` column.


