---
title: Transforming XML Data
---

The HAWQ data loader *gpfdist* provides transformation features to load XML data into a table and to write data from the HAWQ to XML files. The following diagram shows *gpfdist* performing an XML transform.

<a id="topic75__du185408"></a>
<span class="figtitleprefix">Figure: </span>External Tables using XML Transformations

<img src="../../images/ext-tables-xml.png" class="image" />

To load or extract XML data:

-   [Determine the Transformation Schema](g-determine-the-transformation-schema.html#topic76)
-   [Write a Transform](g-write-a-transform.html#topic77)
-   [Write the gpfdist Configuration](g-write-the-gpfdist-configuration.html#topic78)
-   [Load the Data](g-load-the-data.html#topic79)
-   [Transfer and Store the Data](g-transfer-and-store-the-data.html#topic80)

The first three steps comprise most of the development effort. The last two steps are straightforward and repeatable, suitable for production.

-   **[Determine the Transformation Schema](../../datamgmt/load/g-determine-the-transformation-schema.html)**

-   **[Write a Transform](../../datamgmt/load/g-write-a-transform.html)**

-   **[Write the gpfdist Configuration](../../datamgmt/load/g-write-the-gpfdist-configuration.html)**

-   **[Load the Data](../../datamgmt/load/g-load-the-data.html)**

-   **[Transfer and Store the Data](../../datamgmt/load/g-transfer-and-store-the-data.html)**

-   **[XML Transformation Examples](../../datamgmt/load/g-xml-transformation-examples.html)**


