---
title: Getting Started with HAWQ
---


## <a id="tut_getstartov"></a>Overview

This tutorial provides a quick introduction to get you up and running with your HAWQ installation.  You will be introduced to basic HAWQ functionality, including cluster management, database creation, and simple querying.  An introduction to external data sources is also provided.


## <a id="tut_getstartov_prereq"></a>Prerequisites

Ensure that you have a running HAWQ installation and that you have the tutorial work files, including the Retail sample data set and HAWQ scripts.

## <a id="tut_hawqexlist"></a>Exercises 

This HAWQ introduction includes the following content and exercises:

[HAWQ Administration Basics](basichawqadmin.html)     
[Introduction to HAWQ Tables](introhawqtbls.html)  
[Introduction to PXF](intropxfhdfs.html)