---
title: Transforming XML Data
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

The HAWQ data loader *gpfdist* provides transformation features to load XML data into a table and to write data from the HAWQ to XML files. The following diagram shows *gpfdist* performing an XML transform.

<a id="topic75__du185408"></a>
<span class="figtitleprefix">Figure: </span>External Tables using XML Transformations

<img src="../../images/ext-tables-xml.png" class="image" />

To load or extract XML data:

-   [Determine the Transformation Schema](g-determine-the-transformation-schema.html#topic76)
-   [Write a Transform](g-write-a-transform.html#topic77)
-   [Write the gpfdist Configuration](g-write-the-gpfdist-configuration.html#topic78)
-   [Load the Data](g-load-the-data.html#topic79)
-   [Transfer and Store the Data](g-transfer-and-store-the-data.html#topic80)

The first three steps comprise most of the development effort. The last two steps are straightforward and repeatable, suitable for production.

-   **[Determine the Transformation Schema](../../datamgmt/load/g-determine-the-transformation-schema.html)**

-   **[Write a Transform](../../datamgmt/load/g-write-a-transform.html)**

-   **[Write the gpfdist Configuration](../../datamgmt/load/g-write-the-gpfdist-configuration.html)**

-   **[Load the Data](../../datamgmt/load/g-load-the-data.html)**

-   **[Transfer and Store the Data](../../datamgmt/load/g-transfer-and-store-the-data.html)**

-   **[XML Transformation Examples](../../datamgmt/load/g-xml-transformation-examples.html)**


